<a href="https://colab.research.google.com/github/SANGRAMLEMBE/Hands_on_ML/blob/main/Hands_on/NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### What is NumPy?

NumPy (short for Numerical Python) is a fundamental package in Python used for scientific computing. It provides support for:

#### Key Features:
- Works with 1D, 2D, and higher-dimensional arrays
- Fast math operations (like sum, mean, etc.)
- Supports matrix and linear algebra

# Using NumPy for Smart Fitness Score Calculation

## üèãÔ∏è Scenario: Fitness Performance Scoring

You run a fitness platform that evaluates daily performance using three metrics:
- Minutes of exercise
- Liters of water consumed
- Hours of sleep

You want to assign a **daily fitness score** based on how well a user balances these metrics.
---

##Fitness Score Formula

We will use a simple linear formula:

score = w1 * exercise + w2 * water + w3 * sleep


Where `w1`, `w2`, and `w3` reflect the importance of each metric.

---

##Define the Weights and Sample Data

In [1]:
# Assigning importance to each factor
weights = [0.5, 0.2, 0.3]  # More emphasis on exercise

# Sample user data: [exercise_minutes, water_liters, sleep_hours]
day1 = [45, 2.0, 6.5]
day2 = [30, 1.5, 8.0]
day3 = [60, 3.0, 7.0]

In [2]:
def compute_score(day_data, weights):
    result = 0
    for i in range(len(day_data)):
        result += day_data[i] * weights[i]
    return result

# Example usage
print(compute_score(day1, weights))  # Output: Fitness score for day1
print(compute_score(day2, weights))
print(compute_score(day3, weights))

24.849999999999998
17.7
32.7

In [3]:
weight = [0.4,0.6,0.3]

# sample student data = ["college_lecture", "self_study" , "Hack_a_thon" ]
stud_1 = [40,15,2]
stud_2 = [35,20,3]
stud_3 = [45,10,1]

def chances_of_placement(stud_data , weight):
  result = 0
  for i in range(len(stud_data)):
    result += stud_data[i]*weight[i]
  return result

print(chances_of_placement(stud_1,weight))
print(chances_of_placement(stud_2,weight))
print(chances_of_placement(stud_3,weight))

25.6
26.9
24.3

### using Zip function
The zip() function in Python is a built-in function used to combine multiple iterables (like lists, tuples, or strings) element-wise into a single iterable of tuples. It pairs corresponding elements from each input iterable.

In [4]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped_result = zip(list1, list2)

# Convert the zip object to a list to view the contents
print(list(zipped_result))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [5]:
list1 = ["sangram","Jeevan","Himanshu","Divyanshu"]
list2 = [80,85,65,30]
zipped_list = zip(list1,list2)
print(list(zipped_list))
print(zipped_list)

[('sangram', 80), ('Jeevan', 85), ('Himanshu', 65), ('Divyanshu', 30)]
<zip object at 0x7d49566817c0>

In [6]:
print(list(zip(day1,weights)))

[(45, 0.5), (2.0, 0.2), (6.5, 0.3)]

In [7]:
print(list(zip(stud_2,weight)))

[(35, 0.4), (20, 0.6), (3, 0.3)]

In [8]:
def compute_score(day_data, weights):
    result = 0
    for data,w in zip(day_data,weights):
        result += data*w

    return result

# Example usage
print(compute_score(day1, weights))
print(compute_score(day2, weights))
print(compute_score(day3, weights))

24.849999999999998
17.7
32.7

In [9]:
def chances_of_placement(stud_data,weight):
  result = 0
  for data,w in zip(stud_data,weight):
    result += data*w
  return result

print(chances_of_placement(stud_1,weight))
print(chances_of_placement(stud_2,weight))
print(chances_of_placement(stud_3,weight))

25.6
26.9
24.3

 ## Now Use NumPy

In [10]:
import numpy as np

###Convert Lists to Arrays

In [11]:
day1 = np.array([45, 2.0, 6.5])
weights = np.array([0.5, 0.2, 0.3])

In [12]:
type(day1)
type(weights)

numpy.ndarray

In [13]:
day1[0]

np.float64(45.0)

In [14]:
weights[1]

np.float64(0.2)

In [15]:
a = 5.0
print(type(a))

<class 'float'>

# Dot method

In [16]:
score = np.dot(day1, weights)
print("Fitness Score:", score)

Fitness Score: 24.849999999999998

In [17]:
placement_chance = np.dot(stud_2,weight)
print("Student 2 Placement Chances score is ",placement_chance)

Student 2 Placement Chances score is  26.9

### Or:

In [18]:
print(day1*weights)

[22.5   0.4   1.95]

In [19]:
(day1 * weights).sum()

np.float64(24.849999999999998)

In [20]:
print(stud_2,weight)
print(type(stud_2))

# convert list into numpy array

stud_2 = np.array(stud_2)
weight = np.array(weight)


print(stud_2 * weight)
print(type(stud_2))

(stud_2 * weight).sum()

[35, 20, 3] [0.4, 0.6, 0.3]
<class 'list'>
[14.  12.   0.9]
<class 'numpy.ndarray'>

np.float64(26.9)

### Compare performance of Python loop vs NumPy dot product

In [21]:

workout_minutes = list(range(30, 1000000))
calories_burned = list(range(30, 1000000))

# Convert to NumPy arrays
workout_np = np.array(workout_minutes)
calories_np = np.array(calories_burned)

# Compare performance of Python loop vs NumPy dot product

In [22]:
%%time
energy_score_loop = 0
for w, c in zip(workout_minutes, calories_burned):
    energy_score_loop += w * c
print(energy_score_loop)

333332833333491445
CPU times: user 394 ms, sys: 1.28 ms, total: 395 ms
Wall time: 814 ms

### Using NumPy vectorized dot product

In [23]:
%%time
energy_score_np = np.dot(workout_np, calories_np)
print(energy_score_np)

333332833333491445
CPU times: user 3.51 ms, sys: 56 ¬µs, total: 3.57 ms
Wall time: 4.66 ms

In [24]:
%%time
energy_score_loop = 0
for s, w in zip(stud_1, weight):
    energy_score_loop += s * w
print(energy_score_loop)

25.6
CPU times: user 315 ¬µs, sys: 34 ¬µs, total: 349 ¬µs
Wall time: 3.49 ms

In [25]:
%%time
energy_score_np = np.dot(stud_1,weight)
print(energy_score_np)

25.6
CPU times: user 345 ¬µs, sys: 0 ns, total: 345 ¬µs
Wall time: 2.21 ms

###Evaluate a Week at Once

In [26]:
week_data = np.array([
    [45, 2.0, 6.5],
    [30, 1.5, 8.0],
    [60, 3.0, 7.0],
    [50, 2.5, 7.5],
    [40, 1.8, 6.0],
    [55, 2.2, 6.8],
    [35, 1.6, 7.2]
])
#2d array
print(week_data.shape)

(7, 3)

In [27]:
# print(week_data)
print(week_data.shape)

(7, 3)

In [28]:
x=np.array([1,2,3])
print(x.shape)

(3,)

In [29]:
y = np.array([[3,4,5],
 [3,7,9]])
print(y.shape)

(2, 3)

In [30]:
weights = np.array([0.5, 0.2, 0.3])
#1d array

In [31]:

arr = np.array([[[1, 2, 3], [4, 5, 6]],

                 [[1, 2, 3], [4, 5, 6]]])

print(arr.shape)

(2, 2, 3)

In [32]:
arr = np.array([
    [[[1,2,3],[2,4,6],[5,6,7]],[[2,3,4],[4,4,5],[6,7,8]]],
    [[[1,8,3],[3,5,6],[3,9,7]],[[2,3,5],[4,4,5],[6,7,8]]]
])

print(arr.shape)

(2, 2, 3, 3)

All elements in a NumPy array must have the same data type. You can inspect the type using .dtype.

In [33]:
arr = np.array([
    [8, 2, 1],
    [9, 3, 2],
    [7, 1, 2]
])
print("arr dtype:", arr.dtype)

arr dtype: int64

In [34]:
arr = np.array([[2,3],[4,7],[1,5]])
print(arr.dtype)

int64

Add Floating Point to One Entry

In [35]:
# Introduce one float into the array
arr2 = np.array([
    [8.0, 2, 1],
    [9, 3, 2],
    [7, 1, 2]
])
print("arr2 dtype:",arr2.dtype)  # datatype will changes to float64

arr2 dtype: float64

- np.dot will work same as @

In [36]:
weekly_scores = np.dot(week_data, weights)
print("Weekly Scores:", weekly_scores)

Weekly Scores: [24.85 17.7  32.7  27.75 22.16 29.98 19.98]

In [37]:
weekly_scores1=week_data @ weights
print("Weekly Scores1:", weekly_scores1)

Weekly Scores1: [24.85 17.7  32.7  27.75 22.16 29.98 19.98]

In [38]:
weekly_scores = np.dot(week_data, weight)
print("weekly score :",weekly_scores)

weekly_scores = week_data @ weight
print("weekly score :",weekly_scores)

weekly score : [21.15 15.3  27.9  23.75 18.88 25.36 17.12]
weekly score : [21.15 15.3  27.9  23.75 18.88 25.36 17.12]

# NumPy Analysis on Wine Quality Dataset

We will use NumPy to explore the [Wine Quality dataset](https://archive.ics.uci.edu/ml/datasets/wine+quality), which contains physicochemical and quality-related properties of red and white wine samples.

---

## Step 1: Load CSV Data using NumPy

In [39]:
# Load data from UCI Wine Quality Dataset (hosted on GitHub)
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

- **genfromtext**  --> It will convert url into numpy array
- **delimiter**  --> It will seprates the value by (,      ;     " ")

In [40]:
wine_data = np.loadtxt("/content/winequality-white.csv", delimiter=";", skiprows=1)   # headings are string , can't take with numerical
print(wine_data.shape)
print(wine_data)

FileNotFoundError: /content/winequality-white.csv not found.

In [41]:
# Use genfromtxt with proper delimiter and header skip
wine_data = np.genfromtxt(url, delimiter=';', skip_header=1)
print("Shape of dataset:", wine_data.shape)

Shape of dataset: (1599, 12)

In [42]:

print(wine_data)

[[ 7.4    0.7    0.    ...  0.56   9.4    5.   ]
 [ 7.8    0.88   0.    ...  0.68   9.8    5.   ]
 [ 7.8    0.76   0.04  ...  0.65   9.8    5.   ]
 ...
 [ 6.3    0.51   0.13  ...  0.75  11.     6.   ]
 [ 5.9    0.645  0.12  ...  0.71  10.2    5.   ]
 [ 6.     0.31   0.47  ...  0.66  11.     6.   ]]

Download and Save the CSV File:

In [43]:
import urllib.request

# URL of the dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Local filename to save as
filename = 'wine-quality-red.csv'

# Download the file from `url` and save it locally under `filename`
urllib.request.urlretrieve(url, filename)

print(f"File saved as: {filename}")

File saved as: wine-quality-red.csv

In [46]:

wine_data = np.genfromtxt('/content/wine-quality-red.csv', delimiter=';', skip_header=1)
print(wine_data.shape)

(1599, 12)

In [47]:
wine_data

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  0.75 , 11.   ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ],
       [ 6.   ,  0.31 ,  0.47 , ...,  0.66 , 11.   ,  6.   ]])

Check Column-wise Statistics

In [48]:
# COLUMN WISE --> axis = 0

mean_vals = np.mean(wine_data, axis=0)
std_vals = np.std(wine_data, axis=0)
print("Means:\n", mean_vals)
print("Standard Deviations:\n", std_vals)

Means:
 [ 8.31963727  0.52782051  0.27097561  2.5388055   0.08746654 15.87492183
 46.46779237  0.99674668  3.3111132   0.65814884 10.42298311  5.63602251]
Standard Deviations:
 [1.74055180e+00 1.79003704e-01 1.94740214e-01 1.40948711e+00
 4.70505826e-02 1.04568856e+01 3.28850367e+01 1.88674370e-03
 1.54338181e-01 1.69453967e-01 1.06533430e+00 8.07316877e-01]

In [49]:
# ROW WISE --> axis = 1

mean_vals = np.mean(wine_data, axis=1)
std_vals = np.std(wine_data, axis=1)
print("Means:\n", mean_vals)
print("Standard Deviations:\n", std_vals)

Means:
 [ 6.21198333 10.25456667  8.30825    ...  8.37347833  8.76795583
  7.7077075 ]
Standard Deviations:
 [ 9.12775181 18.3785345  14.4697315  ... 12.29881939 13.60147485
 11.52640133]

In [50]:
x = np.array([[1, 2, 3],
                      [4, 5, 6],
                      [7, 8, 9]])
mean_vals = np.mean(x, axis=1)
print(mean_vals)

[2. 5. 8.]

In [51]:
x = np.array([ [2,3,6,7],
                              [1,2,9,4],
               [5,8,3,6]])
print(x)

[[2 3 6 7]
 [1 2 9 4]
 [5 8 3 6]]

In [52]:
mean_value = np.mean(x, axis = 0)
print(mean_value)

[2.66666667 4.33333333 6.         5.66666667]

In [53]:
mean_value = np.mean(x, axis = 1)
print(mean_value)

[4.5 4.  5.5]

###Indexing and Filtering Examples

Filter wines with alcohol > 10

- wine_data is a 2D NumPy array (typically representing a dataset with rows for samples and columns for features, e.g., ‚Äúwine‚Äù characteristics).

* wine_data[:, 10] selects all rows (you could think of this as every wine sample) but only the 11th column (Python uses zero-based indexing, so column index 10 is the 11th column).

>10 creates a boolean mask: For every value in that column, it checks if the value is greater than 10. The result is a 1D NumPy array of True/False values, one for each row.

In [54]:
wine_data[:,10]>10

array([False, False, False, ...,  True,  True,  True])

How the Code Works
wine_data[:, 10] > 10
This part creates a boolean mask: a 1D array of True/False values, one for each row in wine_data.
It checks whether the value in the 11th column (index 10) for each row is greater than 10.

wine_data[ ... ]
Here, wine_data is the original 2D array (your dataset).
Inside the square brackets, the boolean mask is used to select rows.
Only rows where the mask is True (i.e., where the 11th column > 10) are kept.

high_alcohol = wine_data[wine_data[:, 10] > 10]
This line creates a new array containing only the rows of wine_data where the alcohol content (column 10) is greater than 10.

The rest of the code just prints information about this new array, including the number of such ‚Äúhigh alcohol‚Äù wines (high_alcohol.shape).

Why Does wine_data Appear Twice?
The first use (wine_data[:, 10] > 10) generates a filter: it checks a condition on every row, producing the mask.

The second use (wine_data[ ... ]) applies that filter: it uses the mask to extract the subset of rows that meet the condition.

This is a common and efficient NumPy pattern:
You do not copy the whole dataset. Instead, the first reference is used to quickly create a filter, and the second applies that filter to select data directly.

In [55]:
high_alcohol = wine_data[wine_data[:, 10] > 10]
print(high_alcohol)
high_alcohol.shape
print("High alcohol wines:", high_alcohol.shape[0])

[[ 7.5    0.5    0.36  ...  0.8   10.5    5.   ]
 [ 7.5    0.5    0.36  ...  0.8   10.5    5.   ]
 [ 8.5    0.28   0.56  ...  0.75  10.5    7.   ]
 ...
 [ 6.3    0.51   0.13  ...  0.75  11.     6.   ]
 [ 5.9    0.645  0.12  ...  0.71  10.2    5.   ]
 [ 6.     0.31   0.47  ...  0.66  11.     6.   ]]
High alcohol wines: 852

Filter wines with quality (last column) ‚â• 7

In [56]:
good_wines = wine_data[wine_data[:, -1] >= 7]
print("Good quality wines:", good_wines.shape[0])

Good quality wines: 217

In [57]:
lst=[1,2,3,4,5,6]
print(lst[:5])

[1, 2, 3, 4, 5]

Slice first 5 rows and columns

In [58]:
print(wine_data[:5, :5])

[[ 7.4    0.7    0.     1.9    0.076]
 [ 7.8    0.88   0.     2.6    0.098]
 [ 7.8    0.76   0.04   2.3    0.092]
 [11.2    0.28   0.56   1.9    0.075]
 [ 7.4    0.7    0.     1.9    0.076]]

Compute average alcohol content per quality level

In [59]:
np.unique(wine_data[:, -1])

array([3., 4., 5., 6., 7., 8.])

In [60]:
wine_data[:, -1] == 5

array([ True,  True,  True, ..., False,  True, False])

In [61]:
np.mean(wine_data[wine_data[:, -1] == 5][:,10])

np.float64(9.899706314243758)

In [62]:
for quality in np.unique(wine_data[:, -1]):
    avg_alcohol = np.mean(wine_data[wine_data[:, -1] == quality][:, 10])
    print(f"Quality {int(quality)}: Avg Alcohol = {avg_alcohol:.2f}")

Quality 3: Avg Alcohol = 9.96
Quality 4: Avg Alcohol = 10.27
Quality 5: Avg Alcohol = 9.90
Quality 6: Avg Alcohol = 10.63
Quality 7: Avg Alcohol = 11.47
Quality 8: Avg Alcohol = 12.09

Compute correlation between alcohol and quality

In [63]:
alcohol = wine_data[:, 10]
quality = wine_data[:, -1]
correlation = np.corrcoef(alcohol, quality)[0, 1]
print("Correlation between alcohol and quality:", correlation)

Correlation between alcohol and quality: 0.47616632400113584

###Compute Weighted Wine Score
Let‚Äôs say you care about three columns:

Alcohol (index 10)

Sulphates (index 9)

Volatile acidity (index 1)

In [64]:
# Select relevant columns
features = wine_data[:, [10, 9, 1]]

# Assign weights: high alcohol is good, low volatile acidity is good
weights = np.array([0.4, 0.3, -0.3])

# Compute custom wine score
scores = features @ weights
print("Wine scores (first 5):", scores[:5])

Wine scores (first 5): [3.718 3.86  3.887 4.01  3.718]

##  Broadcasting

NumPy lets you perform mathematical operations with operators like `+`, `-`, `*`, `/` on arrays.
You can use these with either a single number (scalar) or another array of the same shape.
Here are some useful examples:

In [65]:
import numpy as np

# Example arrays
matrixA = np.array([[4, 7, 2, 5],
                    [6, 3, 8, 1],
                    [0, 9, 2, 6]])

matrixB = np.array([[14, 11, 16, 12],
                    [13, 19, 10, 15],
                    [21, 14, 18, 13]])

# matrix sum
print("# maatrix sum\n", matrixA + matrixB)

# Subtract arrays
print("\n# Subtract arrays\n", matrixB - matrixA)

# Add a scalar
print("# Add a scalar\n", matrixA + 2)


# Divide by scalar
print("\n# Divide by scalar\n", matrixA / 2)

# Elementwise multiplication
print("\n# Elementwise multiplication\n", matrixA * matrixB)

# Modulus with scalar
print("\n# Modulus with scalar\n", matrixA % 3)

# maatrix sum
 [[18 18 18 17]
 [19 22 18 16]
 [21 23 20 19]]

# Subtract arrays
 [[10  4 14  7]
 [ 7 16  2 14]
 [21  5 16  7]]
# Add a scalar
 [[ 6  9  4  7]
 [ 8  5 10  3]
 [ 2 11  4  8]]

# Divide by scalar
 [[2.  3.5 1.  2.5]
 [3.  1.5 4.  0.5]
 [0.  4.5 1.  3. ]]

# Elementwise multiplication
 [[ 56  77  32  60]
 [ 78  57  80  15]
 [  0 126  36  78]]

# Modulus with scalar
 [[1 1 2 2]
 [0 0 2 1]
 [0 0 2 0]]

## Array Broadcasting

Broadcasting describes how NumPy handles operations between arrays of different shapes. Instead of forcing you to create arrays with the exact same dimensions, NumPy automatically "broadcasts" the smaller array across the larger one so that their shapes match.

When operating on two arrays, NumPy compares their shapes element-wise. It starts with the trailing (i.e. rightmost) dimension and works its way left. Two dimensions are compatible when they are equal, or one of them is 1.

In [66]:
a = np.array([1, 2, 3])
b = 10
print(a + b)

[11 12 13]

2D array and 1D array

In [67]:
A = np.array([[1, 2, 3],

              [4, 5, 6]])

B = np.array([10, 20, 30])
print(A + B)
#Here, B is broadcasted over each row of A

[[11 22 33]
 [14 25 36]]

In [68]:
matrixA = np.array([[4, 7, 2, 5],
                    [6, 3, 8, 1],
                    [0, 9, 2, 6]])
vectorC = np.array([2, 4, 6, 8])

print("matrixA.shape:", matrixA.shape)
print("vectorC.shape:", vectorC.shape)
print("\n# Broadcasting add\n", matrixA + vectorC)

vectorD = np.array([5, 7])
# This will error:
try:
    matrixA + vectorD
except Exception as e:
    print("\n# Broadcasting error:", e)

matrixA.shape: (3, 4)
vectorC.shape: (4,)

# Broadcasting add
 [[ 6 11  8 13]
 [ 8  7 14  9]
 [ 2 13  8 14]]

# Broadcasting error: operands could not be broadcast together with shapes (3,4) (2,)

In [69]:
A = np.array([[1, 2, 3],

              [4, 5, 6]])

B = np.array([[10],

              [20]])
print(A + B)

[[11 12 13]
 [24 25 26]]

In [70]:
a = np.array([1, 2, 3])
b = np.array([1, 2])
a + b  # This will raise an error because their shapes are not compatible!

ValueError: operands could not be broadcast together with shapes (3,) (2,)

In [71]:
A = np.array([[1],

              [2],

               [3]])   # Shape (3,1)
B = np.array([10, 20, 30])      # Shape (3,)
print(A.shape)
print(B.shape)

(3, 1)
(3,)

In [72]:
a = np.array([1, 2, 3])
b = np.array([4, 5])
print(a.shape,b.shape)
a+b

(3,) (2,)

ValueError: operands could not be broadcast together with shapes (3,) (2,)

In [73]:
 np.ones((4, 3, 5))

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

In [74]:
a = np.ones((1, 3, 5))
b = np.ones((4,3,1))
print(a.shape)
print(b.shape)
# Error!
c=a + b

print(c.shape)

(1, 3, 5)
(4, 3, 1)
(4, 3, 5)

## Array Comparison

Elementwise comparisons in NumPy return boolean arrays.
You can use operations like `==`, `!=`, `>`, `<`, `>=`, `<=`.

Example:

In [75]:
X = np.array([[5, 1, 8], [2, 4, 7]])
Y = np.array([[3, 1, 8], [2, 9, 6]])

print("# X == Y\n", X == Y)
print("\n# X >= Y\n", X >= Y)
print("\n# Count not equal:", (X != Y).sum())

# X == Y
 [[False  True  True]
 [ True False False]]

# X >= Y
 [[ True  True  True]
 [ True False  True]]

# Count not equal: 3

## Array Indexing and Slicing

You can select single elements, slices, or subarrays in NumPy arrays using indices and ranges.
Here are a few examples:

In [76]:
cube = np.array([
    [[ 3,  5,  7], [ 8, 10, 12]],
    [[13, 15, 17], [18, 20, 22]],
    [[23, 25, 27], [28, 30, 32]]
])

# print("# Shape:", cube.shape)

# Single element
print("\n# cube[2, 1, 0]:", cube[2, 1, 0])

# Subarray using ranges
print("\n# cube[1:, :, 1]:\n", cube[1:, :, 1])

# Mixing indices and ranges
print("\n# cube[1, :, 1:]:\n", cube[1, :, 1:])

# Fewer indices (returns 2D slice)
print("\n# cube[2]:\n", cube[2])

# cube[2, 1, 0]: 28

# cube[1:, :, 1]:
 [[15 20]
 [25 30]]

# cube[1, :, 1:]:
 [[15 17]
 [20 22]]

# cube[2]:
 [[23 25 27]
 [28 30 32]]

## Different Ways to Initialize Numpy Arrays

Numpy offers many built-in methods to create arrays with preset or random values.  
Here are some useful examples with different shapes and values.  
Check the [official docs](https://numpy.org/doc/stable/reference/routines.array-creation.html) for more options!

In [77]:
import numpy as np

# All zeros array
zero_grid = np.zeros((4, 2))
print("# All zeros array\n", zero_grid)

# All ones, higher dimension
ones_cube = np.ones((2, 3, 2))
print("\n# All ones (3D)\n", ones_cube)

# Identity matrix
identity = np.eye(4)
print("\n# Identity matrix\n", identity)

# Random vector (0 to 1)
rand_vec = np.random.rand(6)
print("\n# Random vector\n", rand_vec)

# Random matrix, standard normal distribution
rand_matrix = np.random.randn(3, 4)
print("\n# Random matrix (normal dist)\n", rand_matrix)

# Array with all entries set to a fixed value
fixed_arr = np.full((3, 2), 77)
print("\n# All 77s\n", fixed_arr)

# Array with range and step
range_arr = np.arange(5, 50, 7)
print("\n# Range with step\n", range_arr)

# Equally spaced points in an interval
eq_space = np.linspace(2, 18, 9)
print("\n# Evenly spaced in [2,18]\n", eq_space)

# All zeros array
 [[0. 0.]
 [0. 0.]
 [0. 0.]
 [0. 0.]]

# All ones (3D)
 [[[1. 1.]
  [1. 1.]
  [1. 1.]]

 [[1. 1.]
  [1. 1.]
  [1. 1.]]]

# Identity matrix
 [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

# Random vector
 [0.66502453 0.75713959 0.39803412 0.75947566 0.7232527  0.56775669]

# Random matrix (normal dist)
 [[-0.43242688  1.51804246  1.14348738  0.37239834]
 [-0.05573307  0.91375997 -0.89394961  0.38998789]
 [ 0.95166776 -1.24055185  0.31256737  2.22369705]]

# All 77s
 [[77 77]
 [77 77]
 [77 77]]

# Range with step
 [ 5 12 19 26 33 40 47]

# Evenly spaced in [2,18]
 [ 2.  4.  6.  8. 10. 12. 14. 16. 18.]

#Assignment


Use the [Wine Quality Red dataset](https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv) from UCI.

**Rules:**
- Use only NumPy (not Pandas, not scikit-learn, not SciPy)
- Download, load, and manipulate the data with NumPy only

###1. What is the shape of the data array? (How many wine samples and how many columns of features does it have?)

In [78]:
print ("shape of wine Data :" , wine_data.shape)

shape of wine Data : (1599, 12)


###2. Calculate the average (mean) quality score of the red wines. (Hint: this is the mean of the last column in the data array.)

In [79]:
# It explicitly selects all rows but only the last column ([:, -1]) and then computes the mean of that slice.

mean_quality = wine_data[:,-1].mean()
print("Average quality score of red Wine:",mean_quality)

Average quality score of red Wine: 5.6360225140712945

In [80]:
mean_quality = np.mean(wine_data[:,-1])
print("Average quality score of red Wine:",mean_quality)

Average quality score of red Wine: 5.6360225140712945

In [81]:
#This calculates the mean over the entire array except the last row
# The slice wine_data[:-1] means all rows except the last one, but across all columns


mean_quality = wine_data[:-1].mean()    # If we romove , from above code it will consider all columns
print("Average quality score of red Wine:",mean_quality)

Average quality score of red Wine: 7.92617279151022


###3. What are the minimum and maximum pH values observed in the dataset? (Use NumPy to find the smallest and largest pH.)

In [82]:
min_ph = np.min(wine_data[:,-4])
max_ph = np.max(wine_data[:,-4])
print("Minimum pH value:", min_ph)
print("Maximum pH value:", max_ph)

Minimum pH value: 2.74
Maximum pH value: 4.01

In [83]:
ph_column = 8
min_ph = np.min(wine_data[:,ph_column])
max_ph = np.max(wine_data[:,ph_column])
print("Minimum pH value:", min_ph)
print("Maximum pH value:", max_ph)

Minimum pH value: 2.74
Maximum pH value: 4.01

###4. Determine the mean and standard deviation of the alcohol content in these wines. (Calculate the average alcohol percentage and how much it varies.)

In [84]:
alcohol_column = 10
mean_alcohol = np.mean(wine_data[:,alcohol_column])
std_alcohol = np.std(wine_data[:,alcohol_column])
print("Mean alcohol content:", mean_alcohol)
print("Standard deviation of alcohol content:", std_alcohol)

Mean alcohol content: 10.422983114446529
Standard deviation of alcohol content: 1.0653343003437483

###5. List all the unique quality ratings present in the dataset. (What distinct quality values appear? Use np.unique on the quality column.)

In [85]:
unique_ratings = np.unique(wine_data[:,-1])
print("Unique quality ratings:", unique_ratings)

Unique quality ratings: [3. 4. 5. 6. 7. 8.]

###6. How many wine samples have a quality rating of 7? (Count the number of entries where the quality column is exactly 7.)

In [86]:
number = np.count_nonzero(wine_data[:,-1] == 7)
print("Total Number of times Number Repitated:",number)

number = np.count_nonzero(wine_data[:,-1] == 5)
print("Total Number of times Number Repitated:",number)

number = np.count_nonzero(wine_data[:,-1] == 6)
print("Total Number of times Number Repitated:",number)

Total Number of times Number Repitated: 199
Total Number of times Number Repitated: 681
Total Number of times Number Repitated: 638

In [87]:
(wine_data[:,-1]== 7).sum()

np.int64(199)

In [88]:
np.sum(wine_data[:,],-1)

array([ 74.5438 , 123.0548 ,  99.699  , ..., 100.48174, 105.21547,
        92.49249])

In [89]:
i =0
for q in np.unique(wine_data[:,-1]):
  i = max(i,(wine_data[:,-1]==q).sum())
print(i)

681

In [90]:
## count wines for each quality rating  and return output as list
op = []
for q in np.unique(wine_data[:,-1]):
  op.append((wine_data[:,-1]==q).sum())
print(op)

[np.int64(10), np.int64(53), np.int64(681), np.int64(638), np.int64(199), np.int64(18)]

In [91]:
## count wines for each quality rating  and return output as dictionary

op = {}

for i in np.unique(wine_data[:,-1]):
  op[i] = np.sum(wine_data[:,-1]==i)
print(op)

{np.float64(3.0): np.int64(10), np.float64(4.0): np.int64(53), np.float64(5.0): np.int64(681), np.float64(6.0): np.int64(638), np.float64(7.0): np.int64(199), np.float64(8.0): np.int64(18)}

In [92]:
print(op.keys())

dict_keys([np.float64(3.0), np.float64(4.0), np.float64(5.0), np.float64(6.0), np.float64(7.0), np.float64(8.0)])

In [93]:
unique , counts = np.unique(wine_data[:,-1],return_counts=True)
print(unique)
print(counts)

[3. 4. 5. 6. 7. 8.]
[ 10  53 681 638 199  18]

###7. How many wines have an alcohol content greater than 10%? (Hint: create a boolean mask for alcohol > 10 and sum it or use np.where.)

In [94]:
alcohol_column = 10
alcohol_greater_than_10 = wine_data[:,alcohol_column] > 10
num_wines = np.sum(alcohol_greater_than_10)
print("Number of wines with alcohol content > 10%:", num_wines)

Number of wines with alcohol content > 10%: 852

In [95]:
alcohol_greater_than_10 = wine_data[:,-2] > 10
num_wines = np.sum(alcohol_greater_than_10)
print("Number of wines with alcohol content > 10%:", num_wines)

Number of wines with alcohol content > 10%: 852

###8. What is the average citric acid concentration across all red wines? (Compute the mean of the citric acid column.)

In [96]:

average_citric_acid = np.mean(wine_data[:,2])
print("Average citric acid concentration:", average_citric_acid)

Average citric acid concentration: 0.2709756097560976

In [97]:
average_citric_acid = wine_data[:,2].mean()
print("Average citric acid concentration:", average_citric_acid)

Average citric acid concentration: 0.2709756097560976

###9. Determine the median residual sugar content in the dataset. (Hint: you can use np.median or np.percentile with 50th percentile to find the median residual sugar.)

In [98]:
median_residual_sugar = np.median(wine_data[:,3])
print("Median residual sugar content:", median_residual_sugar)

Median residual sugar content: 2.2

In [99]:
median_residual_sugar = np.percentile(wine_data[:,3],50)
print("Median residual sugar content:", median_residual_sugar)

Median residual sugar content: 2.2

###10. What is the 75th percentile (upper quartile) of the alcohol content? (In other words, 25% of the wines have an alcohol content above what value?)

In [100]:
alcohol_content = np.percentile(wine_data[:,10],75)
print("75th percentile of alcohol content:", alcohol_content)

75th percentile of alcohol content: 11.1

In [101]:
# which quality have Highest number of wines

a = 0
for i in np.unique(wine_data[:,-1]):
  a = max(a, np.sum(wine_data[:,-1]==i))

print(a)

681


###11. determine how many wines fall into each quality score category. (Find the count of samples for each unique quality value.) Which quality rating is most common in the red wine dataset?

In [102]:
quality_scores = wine_data[:, -1]
unique_qualities, counts = np.unique(quality_scores, return_counts=True)

print("Quality scores:", unique_qualities)
print("Counts:", counts)

total_unique_qualities = len(unique_qualities)
print("Total unique quality scores:", total_unique_qualities)

Quality scores: [3. 4. 5. 6. 7. 8.]
Counts: [ 10  53 681 638 199  18]
Total unique quality scores: 6


###12. Which five wine samples have the highest alcohol content? Identify their alcohol values and corresponding quality scores. (Hint: use np.argsort to sort by the alcohol column and pick the top 5 entries.)

In [103]:
help(np.argsort)

Help on _ArrayFunctionDispatcher in module numpy:

argsort(a, axis=-1, kind=None, order=None, *, stable=None)
    Returns the indices that would sort an array.

    Perform an indirect sort along the given axis using the algorithm specified
    by the `kind` keyword. It returns an array of indices of the same shape as
    `a` that index data along the given axis in sorted order.

    Parameters
    ----------
    a : array_like
        Array to sort.
    axis : int or None, optional
        Axis along which to sort.  The default is -1 (the last axis). If None,
        the flattened array is used.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, optional
        Sorting algorithm. The default is 'quicksort'. Note that both 'stable'
        and 'mergesort' use timsort under the covers and, in general, the
        actual implementation will vary with data type. The 'mergesort' option
        is retained for backwards compatibility.

        .. versionchanged:: 1.15.0.
           The 'stable' option was added.
    order : str or list of str, optional
        When `a` is an array with fields defined, this argument specifies
        which fields to compare first, second, etc.  A single field can
        be specified as a string, and not all fields need be specified,
        but unspecified fields will still be used, in the order in which
        they come up in the dtype, to break ties.
    stable : bool, optional
        Sort stability. If ``True``, the returned array will maintain
        the relative order of ``a`` values which compare as equal.
        If ``False`` or ``None``, this is not guaranteed. Internally,
        this option selects ``kind='stable'``. Default: ``None``.

        .. versionadded:: 2.0.0

    Returns
    -------
    index_array : ndarray, int
        Array of indices that sort `a` along the specified `axis`.
        If `a` is one-dimensional, ``a[index_array]`` yields a sorted `a`.
        More generally, ``np.take_along_axis(a, index_array, axis=axis)``
        always yields the sorted `a`, irrespective of dimensionality.

    See Also
    --------
    sort : Describes sorting algorithms used.
    lexsort : Indirect stable sort with multiple keys.
    ndarray.sort : Inplace sort.
    argpartition : Indirect partial sort.
    take_along_axis : Apply ``index_array`` from argsort
                      to an array as if by calling sort.

    Notes
    -----
    See `sort` for notes on the different sorting algorithms.

    As of NumPy 1.4.0 `argsort` works with real/complex arrays containing
    nan values. The enhanced sort order is documented in `sort`.

    Examples
    --------
    One dimensional array:

    >>> x = np.array([3, 1, 2])
    >>> np.argsort(x)
    array([1, 2, 0])

    Two-dimensional array:

    >>> x = np.array([[0, 3], [2, 2]])
    >>> x
    array([[0, 3],
           [2, 2]])

    >>> ind = np.argsort(x, axis=0)  # sorts along first axis (down)
    >>> ind
    array([[0, 1],
           [1, 0]])
    >>> np.take_along_axis(x, ind, axis=0)  # same as np.sort(x, axis=0)
    array([[0, 2],
           [2, 3]])

    >>> ind = np.argsort(x, axis=1)  # sorts along last axis (across)
    >>> ind
    array([[0, 1],
           [0, 1]])
    >>> np.take_along_axis(x, ind, axis=1)  # same as np.sort(x, axis=1)
    array([[0, 3],
           [2, 2]])

    Indices of the sorted elements of a N-dimensional array:

    >>> ind = np.unravel_index(np.argsort(x, axis=None), x.shape)
    >>> ind
    (array([0, 1, 1, 0]), array([0, 0, 1, 1]))
    >>> x[ind]  # same as np.sort(x, axis=None)
    array([0, 2, 2, 3])

    Sorting with keys:

    >>> x = np.array([(1, 0), (0, 1)], dtype=[('x', '<i4'), ('y', '<i4')])
    >>> x
    array([(1, 0), (0, 1)],
          dtype=[('x', '<i4'), ('y', '<i4')])

    >>> np.argsort(x, order=('x','y'))
    array([1, 0])

    >>> np.argsort(x, order=('y','x'))
    array([0, 1])

In [104]:
import numpy as np

# Assuming wine_data is already loaded as a NumPy array

# Specify the alcohol column index
alcohol_col_index = -2
quality_col_index = -1  # last column

# Get indices that would sort the alcohol column in ascending order
sorted_indices = np.argsort(wine_data[:, alcohol_col_index])

# Pick the indices of the top 5 samples with highest alcohol, reverse for descending
top5_indices = sorted_indices[-5:][::-1]

# Extract the alcohol and quality values for these samples
top5_alcohol = wine_data[top5_indices, alcohol_col_index]
top5_quality = wine_data[top5_indices, quality_col_index]

# Print results
for i, idx in enumerate(top5_indices):
    print(f"Sample index {idx}: Alcohol = {top5_alcohol[i]}, Quality = {int(top5_quality[i])}")

Sample index 652: Alcohol = 14.9, Quality = 5
Sample index 144: Alcohol = 14.0, Quality = 6
Sample index 142: Alcohol = 14.0, Quality = 6
Sample index 1270: Alcohol = 14.0, Quality = 6
Sample index 821: Alcohol = 14.0, Quality = 7

In [105]:
for i in np.argsort(-wine_data[:,-2])[:5]:     # it will give us last 5 index
  print(wine_data[i,:])                        # ith row , all columns

[15.9     0.36    0.65    7.5     0.096  22.     71.      0.9976  2.98
  0.84   14.9     5.    ]
[ 8.8     0.46    0.45    2.6     0.065   7.     18.      0.9947  3.32
  0.79   14.      6.    ]
[ 4.9      0.42     0.       2.1      0.048   16.      42.       0.99154
  3.71     0.74    14.       7.     ]
[5.200e+00 3.400e-01 0.000e+00 1.800e+00 5.000e-02 2.700e+01 6.300e+01
 9.916e-01 3.680e+00 7.900e-01 1.400e+01 6.000e+00]
[5.500e+00 4.900e-01 3.000e-02 1.800e+00 4.400e-02 2.800e+01 8.700e+01
 9.908e-01 3.500e+00 8.200e-01 1.400e+01 8.000e+00]

In [115]:
for i in np.argsort(-wine_data[:,-2])[:10]:
  print("Quality for alcohol level {} is {}".format(wine_data[i,-2],wine_data[i,-1]))

Quality for alcohol level 14.9 is 5.0
Quality for alcohol level 14.0 is 6.0
Quality for alcohol level 14.0 is 7.0
Quality for alcohol level 14.0 is 6.0
Quality for alcohol level 14.0 is 8.0
Quality for alcohol level 14.0 is 6.0
Quality for alcohol level 14.0 is 8.0
Quality for alcohol level 14.0 is 6.0
Quality for alcohol level 13.6 is 7.0
Quality for alcohol level 13.6 is 7.0

In [114]:
# method 2
top_5 = np.argsort(wine_data[:,-2])[::-1][:10]  # 1) taken secound last column 2) reverse 3)top 5
print(top_5)
value = wine_data[top_5][:,[-2,-1]]  # top 5 with only last two columns
value

[ 652  144  142 1270  821  467  588 1269 1477 1132]

array([[14.9,  5. ],
       [14. ,  6. ],
       [14. ,  6. ],
       [14. ,  6. ],
       [14. ,  7. ],
       [14. ,  6. ],
       [14. ,  8. ],
       [14. ,  8. ],
       [13.6,  7. ],
       [13.6,  7. ]])

###13. Do wines with higher alcohol content tend to have higher quality? To investigate, compare the average quality of wines with above-average alcohol to those with below-average alcohol. (Calculate the mean quality for wines where alcohol is above the overall average, and compare it to the mean quality for wines where alcohol is below the average.)

In [116]:
wine_data[:,-2]

array([ 9.4,  9.8,  9.8, ..., 11. , 10.2, 11. ])

In [118]:
x = np.mean(wine_data[:,-2])
x

np.float64(10.422983114446529)

In [121]:
wine_data[wine_data[:,-2]>x][:,-1]     # Greater than

array([5., 5., 7., 6., 6., 5., 5., 6., 4., 5., 5., 5., 5., 6., 5., 5., 6.,
       4., 6., 5., 6., 6., 6., 5., 5., 7., 5., 5., 6., 6., 6., 5., 5., 5.,
       5., 6., 6., 7., 4., 7., 7., 7., 6., 5., 5., 6., 6., 5., 7., 5., 6.,
       5., 7., 5., 8., 6., 6., 8., 7., 7., 7., 7., 5., 6., 5., 6., 7., 7.,
       7., 5., 6., 6., 5., 7., 7., 6., 6., 6., 6., 7., 6., 5., 6., 6., 5.,
       7., 6., 7., 6., 6., 7., 6., 7., 6., 6., 8., 7., 6., 6., 6., 6., 6.,
       6., 7., 6., 7., 6., 5., 7., 7., 5., 7., 5., 7., 6., 6., 7., 6., 6.,
       6., 7., 7., 7., 5., 5., 6., 6., 7., 5., 8., 7., 6., 5., 6., 6., 5.,
       6., 5., 6., 8., 6., 7., 6., 7., 7., 6., 6., 8., 5., 8., 6., 7., 7.,
       7., 7., 7., 7., 7., 7., 7., 6., 6., 5., 5., 6., 6., 6., 7., 5., 6.,
       6., 6., 5., 5., 5., 6., 5., 6., 6., 5., 6., 5., 6., 6., 6., 6., 7.,
       7., 8., 7., 6., 7., 6., 6., 6., 6., 4., 4., 7., 6., 5., 5., 6., 7.,
       4., 5., 5., 5., 3., 6., 6., 5., 6., 4., 6., 6., 5., 6., 6., 6., 5.,
       5., 6., 7., 6., 6., 7., 7., 7., 7., 5., 6., 5., 4., 6., 5., 6., 6.,
       7., 5., 7., 5., 8., 6., 4., 6., 7., 7., 7., 7., 6., 6., 6., 6., 7.,
       6., 7., 7., 6., 6., 6., 6., 6., 6., 6., 5., 7., 7., 7., 4., 6., 6.,
       6., 5., 7., 6., 6., 7., 6., 7., 3., 5., 7., 7., 7., 7., 5., 6., 6.,
       6., 6., 6., 6., 7., 6., 6., 5., 6., 6., 5., 6., 6., 5., 7., 5., 7.,
       5., 5., 6., 6., 7., 5., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7., 7.,
       7., 6., 6., 6., 7., 6., 6., 6., 6., 7., 6., 6., 6., 7., 5., 7., 7.,
       6., 6., 6., 6., 7., 6., 7., 7., 6., 7., 7., 7., 7., 7., 7., 7., 7.,
       5., 7., 6., 6., 7., 6., 6., 6., 6., 5., 6., 7., 6., 5., 7., 7., 7.,
       7., 7., 7., 6., 6., 7., 6., 6., 6., 6., 6., 5., 7., 7., 7., 7., 8.,
       6., 6., 6., 7., 7., 7., 5., 7., 6., 6., 5., 5., 7., 6., 7., 6., 7.,
       6., 8., 6., 6., 7., 6., 5., 6., 7., 6., 6., 6., 6., 6., 5., 6., 7.,
       6., 7., 6., 6., 6., 6., 6., 6., 5., 8., 6., 6., 6., 4., 7., 6., 6.,
       6., 7., 7., 7., 6., 6., 6., 6., 6., 7., 6., 6., 7., 6., 6., 6., 7.,
       7., 6., 5., 7., 7., 7., 6., 6., 6., 6., 6., 6., 4., 7., 5., 6., 6.,
       5., 6., 5., 6., 5., 6., 5., 6., 5., 7., 5., 6., 7., 8., 7., 7., 7.,
       7., 7., 6., 6., 6., 6., 6., 6., 6., 6., 7., 6., 5., 6., 4., 6., 4.,
       6., 5., 5., 6., 6., 6., 5., 5., 6., 6., 6., 4., 6., 6., 8., 6., 6.,
       5., 6., 4., 7., 6., 5., 5., 6., 5., 5., 6., 6., 6., 6., 6., 3., 6.,
       6., 6., 5., 4., 6., 5., 6., 6., 6., 5., 7., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 5., 5., 5., 6., 6., 5., 6., 6., 6., 6., 6., 6., 6., 5.,
       6., 6., 6., 7., 6., 6., 7., 6., 6., 6., 6., 7., 6., 4., 6., 5., 5.,
       5., 6., 5., 6., 7., 5., 6., 8., 7., 7., 7., 6., 6., 6., 5., 7., 6.,
       4., 5., 6., 5., 7., 7., 5., 5., 5., 4., 5., 5., 6., 6., 5., 5., 6.,
       6., 6., 6., 6., 6., 6., 6., 6., 5., 6., 5., 5., 5., 6., 6., 7., 5.,
       6., 7., 6., 7., 5., 8., 6., 6., 7., 6., 6., 6., 6., 6., 6., 6., 6.,
       6., 6., 6., 6., 5., 6., 5., 5., 7., 6., 6., 6., 6., 6., 6., 6., 5.,
       6., 6., 6.])

In [122]:
np.mean(wine_data[wine_data[:,-2]>x][:,-1])

np.float64(6.026354319180088)

In [123]:
wine_data[wine_data[:,-2]<x]     # less than

array([[ 7.4  ,  0.7  ,  0.   , ...,  0.56 ,  9.4  ,  5.   ],
       [ 7.8  ,  0.88 ,  0.   , ...,  0.68 ,  9.8  ,  5.   ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  0.65 ,  9.8  ,  5.   ],
       ...,
       [ 6.6  ,  0.725,  0.2  , ...,  0.54 ,  9.2  ,  5.   ],
       [ 6.8  ,  0.62 ,  0.08 , ...,  0.82 ,  9.5  ,  6.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  0.71 , 10.2  ,  5.   ]])

In [124]:
np.mean(wine_data[wine_data[:,-2]<x][:,-1])

np.float64(5.344978165938865)

###14. Compute the average alcohol percentage for each quality score in the dataset. (Group the data by the quality column and calculate the mean alcohol content for each quality value. Which quality level has the highest average alcohol content?)

In [127]:
for i in np.unique(wine_data[:,-1]):
  print(i,wine_data[wine_data[:,-1]==i][:,-2].mean())


  print(wine_data[wine_data[:,-1]==i][:,-2].mean())

3.0 9.955000000000002
4.0 10.265094339622639
5.0 9.899706314243758
6.0 10.629519331243468
7.0 11.465912897822445
8.0 12.094444444444445

###15. Define total acidity as the sum of fixed acidity and volatile acidity for each wine. First, calculate the total acidity for every sample. Next, add this as a new column to the dataset (so the array now has 13 columns). Which wine has the highest total acidity, and what is its quality rating? (Find the index of the max total acidity and check the quality at that index.)

In [129]:
column_sum = wine_data[:,0] + wine_data[:,1]
sum = np.column_stack((wine_data,column_sum))
sum

array([[ 7.4  ,  0.7  ,  0.   , ...,  9.4  ,  5.   ,  8.1  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  9.8  ,  5.   ,  8.68 ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  9.8  ,  5.   ,  8.56 ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ..., 11.   ,  6.   ,  6.81 ],
       [ 5.9  ,  0.645,  0.12 , ..., 10.2  ,  5.   ,  6.545],
       [ 6.   ,  0.31 ,  0.47 , ..., 11.   ,  6.   ,  6.31 ]])

In [132]:
np.savetxt('updated_ex',sum,delimiter=',',header='fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,total acidity')
print(sum)

[[ 7.4    0.7    0.    ...  9.4    5.     8.1  ]
 [ 7.8    0.88   0.    ...  9.8    5.     8.68 ]
 [ 7.8    0.76   0.04  ...  9.8    5.     8.56 ]
 ...
 [ 6.3    0.51   0.13  ... 11.     6.     6.81 ]
 [ 5.9    0.645  0.12  ... 10.2    5.     6.545]
 [ 6.     0.31   0.47  ... 11.     6.     6.31 ]]

In [135]:
np.unique(sum[:,-1])

array([ 5.12 ,  5.3  ,  5.32 ,  5.38 ,  5.4  ,  5.42 ,  5.52 ,  5.52 ,
        5.54 ,  5.57 ,  5.61 ,  5.68 ,  5.685,  5.69 ,  5.74 ,  5.77 ,
        5.82 ,  5.845,  5.87 ,  5.91 ,  5.98 ,  5.99 ,  6.015,  6.02 ,
        6.04 ,  6.09 ,  6.09 ,  6.1  ,  6.14 ,  6.14 ,  6.19 ,  6.205,
        6.215,  6.22 ,  6.235,  6.26 ,  6.295,  6.3  ,  6.31 ,  6.33 ,
        6.34 ,  6.36 ,  6.41 ,  6.42 ,  6.44 ,  6.45 ,  6.45 ,  6.48 ,
        6.49 ,  6.5  ,  6.51 ,  6.51 ,  6.515,  6.54 ,  6.545,  6.56 ,
        6.58 ,  6.59 ,  6.6  ,  6.63 ,  6.64 ,  6.64 ,  6.65 ,  6.66 ,
        6.68 ,  6.69 ,  6.7  ,  6.71 ,  6.72 ,  6.74 ,  6.76 ,  6.76 ,
        6.77 ,  6.77 ,  6.78 ,  6.79 ,  6.8  ,  6.8  ,  6.805,  6.81 ,
        6.815,  6.82 ,  6.83 ,  6.84 ,  6.85 ,  6.85 ,  6.86 ,  6.87 ,
        6.89 ,  6.9  ,  6.9  ,  6.93 ,  6.96 ,  6.96 ,  6.97 ,  6.98 ,
        6.98 ,  6.985,  6.99 ,  7.01 ,  7.02 ,  7.02 ,  7.03 ,  7.04 ,
        7.06 ,  7.07 ,  7.08 ,  7.09 ,  7.1  ,  7.11 ,  7.115,  7.12 ,
        7.12 ,  7.13 ,  7.16 ,  7.17 ,  7.18 ,  7.19 ,  7.195,  7.21 ,
        7.22 ,  7.23 ,  7.23 ,  7.24 ,  7.24 ,  7.26 ,  7.26 ,  7.265,
        7.27 ,  7.28 ,  7.28 ,  7.285,  7.29 ,  7.295,  7.3  ,  7.3  ,
        7.305,  7.31 ,  7.31 ,  7.32 ,  7.32 ,  7.325,  7.335,  7.34 ,
        7.34 ,  7.35 ,  7.36 ,  7.36 ,  7.37 ,  7.37 ,  7.375,  7.38 ,
        7.38 ,  7.385,  7.39 ,  7.39 ,  7.4  ,  7.4  ,  7.41 ,  7.41 ,
        7.415,  7.42 ,  7.43 ,  7.44 ,  7.44 ,  7.45 ,  7.45 ,  7.455,
        7.46 ,  7.46 ,  7.47 ,  7.47 ,  7.48 ,  7.48 ,  7.49 ,  7.49 ,
        7.495,  7.5  ,  7.505,  7.51 ,  7.53 ,  7.53 ,  7.535,  7.54 ,
        7.55 ,  7.555,  7.56 ,  7.56 ,  7.57 ,  7.57 ,  7.575,  7.58 ,
        7.585,  7.585,  7.59 ,  7.6  ,  7.605,  7.61 ,  7.61 ,  7.615,
        7.62 ,  7.62 ,  7.63 ,  7.64 ,  7.64 ,  7.65 ,  7.65 ,  7.655,
        7.66 ,  7.665,  7.68 ,  7.685,  7.69 ,  7.69 ,  7.7  ,  7.7  ,
        7.71 ,  7.715,  7.72 ,  7.72 ,  7.73 ,  7.73 ,  7.735,  7.74 ,
        7.745,  7.75 ,  7.76 ,  7.76 ,  7.77 ,  7.77 ,  7.78 ,  7.78 ,
        7.785,  7.79 ,  7.79 ,  7.8  ,  7.805,  7.81 ,  7.81 ,  7.815,
        7.82 ,  7.82 ,  7.83 ,  7.835,  7.845,  7.85 ,  7.85 ,  7.855,
        7.855,  7.86 ,  7.87 ,  7.88 ,  7.885,  7.89 ,  7.89 ,  7.895,
        7.9  ,  7.9  ,  7.91 ,  7.91 ,  7.92 ,  7.925,  7.93 ,  7.93 ,
        7.94 ,  7.95 ,  7.95 ,  7.96 ,  7.97 ,  7.97 ,  7.975,  7.98 ,
        7.99 ,  7.99 ,  7.995,  8.   ,  8.01 ,  8.02 ,  8.03 ,  8.03 ,
        8.035,  8.04 ,  8.04 ,  8.05 ,  8.06 ,  8.07 ,  8.08 ,  8.09 ,
        8.1  ,  8.11 ,  8.12 ,  8.13 ,  8.135,  8.14 ,  8.15 ,  8.18 ,
        8.185,  8.19 ,  8.2  ,  8.2  ,  8.205,  8.21 ,  8.21 ,  8.22 ,
        8.22 ,  8.225,  8.23 ,  8.24 ,  8.245,  8.25 ,  8.255,  8.26 ,
        8.265,  8.27 ,  8.28 ,  8.285,  8.3  ,  8.31 ,  8.315,  8.32 ,
        8.33 ,  8.335,  8.34 ,  8.345,  8.35 ,  8.36 ,  8.365,  8.37 ,
        8.37 ,  8.38 ,  8.38 ,  8.39 ,  8.39 ,  8.4  ,  8.4  ,  8.405,
        8.41 ,  8.415,  8.42 ,  8.43 ,  8.44 ,  8.44 ,  8.445,  8.45 ,
        8.46 ,  8.47 ,  8.475,  8.48 ,  8.48 ,  8.5  ,  8.51 ,  8.52 ,
        8.53 ,  8.535,  8.54 ,  8.55 ,  8.55 ,  8.56 ,  8.57 ,  8.58 ,
        8.585,  8.59 ,  8.6  ,  8.6  ,  8.61 ,  8.615,  8.62 ,  8.62 ,
        8.63 ,  8.63 ,  8.635,  8.64 ,  8.64 ,  8.645,  8.65 ,  8.66 ,
        8.665,  8.67 ,  8.675,  8.68 ,  8.69 ,  8.7  ,  8.705,  8.71 ,
        8.71 ,  8.715,  8.72 ,  8.725,  8.73 ,  8.74 ,  8.745,  8.76 ,
        8.77 ,  8.78 ,  8.785,  8.79 ,  8.79 ,  8.8  ,  8.81 ,  8.82 ,
        8.825,  8.83 ,  8.835,  8.84 ,  8.86 ,  8.87 ,  8.88 ,  8.88 ,
        8.885,  8.9  ,  8.9  ,  8.91 ,  8.915,  8.915,  8.92 ,  8.925,
        8.925,  8.93 ,  8.94 ,  8.94 ,  8.95 ,  8.955,  8.96 ,  8.97 ,
        8.97 ,  8.975,  8.98 ,  8.98 ,  8.99 ,  8.99 ,  9.   ,  9.005,
        9.01 ,  9.015,  9.02 ,  9.03 ,  9.035,  9.04 ,  9.05 ,  9.05 ,
        9.06 ,  9.065,  9.07 ,  9.08 ,  9.085,  9.085,  9.09 ,  9.1  ,
        9.11 ,  9.11 ,  9.115,  9.115,  9.12 ,  9.12 ,  9.13 ,  9.13 ,
        9.14 ,  9.145,  9.145,  9.15 ,  9.155,  9.16 ,  9.17 ,  9.18 ,
        9.19 ,  9.2  ,  9.2  ,  9.21 ,  9.22 ,  9.22 ,  9.23 ,  9.235,
        9.24 ,  9.24 ,  9.245,  9.25 ,  9.26 ,  9.27 ,  9.28 ,  9.285,
        9.3  ,  9.31 ,  9.32 ,  9.325,  9.33 ,  9.35 ,  9.35 ,  9.36 ,
        9.375,  9.38 ,  9.38 ,  9.39 ,  9.39 ,  9.4  ,  9.4  ,  9.41 ,
        9.43 ,  9.435,  9.44 ,  9.44 ,  9.45 ,  9.46 ,  9.46 ,  9.465,
        9.47 ,  9.47 ,  9.48 ,  9.48 ,  9.485,  9.49 ,  9.495,  9.5  ,
        9.51 ,  9.52 ,  9.53 ,  9.535,  9.54 ,  9.55 ,  9.56 ,  9.57 ,
        9.58 ,  9.6  ,  9.61 ,  9.62 ,  9.62 ,  9.63 ,  9.63 ,  9.64 ,
        9.645,  9.65 ,  9.66 ,  9.67 ,  9.68 ,  9.69 ,  9.69 ,  9.7  ,
        9.7  ,  9.71 ,  9.72 ,  9.73 ,  9.73 ,  9.74 ,  9.74 ,  9.755,
        9.76 ,  9.775,  9.78 ,  9.78 ,  9.785,  9.79 ,  9.79 ,  9.795,
        9.8  ,  9.81 ,  9.82 ,  9.83 ,  9.86 ,  9.865,  9.87 ,  9.875,
        9.885,  9.89 ,  9.895,  9.9  ,  9.91 ,  9.92 ,  9.93 ,  9.955,
        9.96 ,  9.98 ,  9.99 ,  9.995, 10.01 , 10.015, 10.02 , 10.05 ,
       10.06 , 10.07 , 10.075, 10.085, 10.09 , 10.1  , 10.1  , 10.12 ,
       10.14 , 10.15 , 10.16 , 10.17 , 10.19 , 10.2  , 10.22 , 10.23 ,
       10.235, 10.24 , 10.25 , 10.26 , 10.28 , 10.29 , 10.3  , 10.31 ,
       10.32 , 10.34 , 10.35 , 10.36 , 10.37 , 10.38 , 10.38 , 10.385,
       10.39 , 10.39 , 10.4  , 10.41 , 10.42 , 10.43 , 10.44 , 10.44 ,
       10.46 , 10.47 , 10.47 , 10.48 , 10.49 , 10.49 , 10.53 , 10.53 ,
       10.54 , 10.55 , 10.56 , 10.56 , 10.57 , 10.58 , 10.59 , 10.6  ,
       10.61 , 10.62 , 10.62 , 10.64 , 10.64 , 10.66 , 10.68 , 10.68 ,
       10.69 , 10.71 , 10.73 , 10.74 , 10.74 , 10.75 , 10.76 , 10.78 ,
       10.78 , 10.8  , 10.81 , 10.83 , 10.84 , 10.845, 10.86 , 10.87 ,
       10.88 , 10.89 , 10.91 , 10.92 , 10.93 , 10.94 , 10.95 , 10.96 ,
       10.975, 11.01 , 11.02 , 11.035, 11.04 , 11.04 , 11.05 , 11.06 ,
       11.08 , 11.09 , 11.1  , 11.11 , 11.12 , 11.13 , 11.16 , 11.2  ,
       11.2  , 11.22 , 11.22 , 11.25 , 11.26 , 11.27 , 11.27 , 11.28 ,
       11.29 , 11.3  , 11.37 , 11.41 , 11.43 , 11.45 , 11.48 , 11.49 ,
       11.52 , 11.54 , 11.55 , 11.6  , 11.62 , 11.625, 11.64 , 11.66 ,
       11.67 , 11.68 , 11.69 , 11.7  , 11.76 , 11.8  , 11.81 , 11.815,
       11.83 , 11.85 , 11.86 , 11.86 , 11.87 , 11.91 , 11.92 , 11.95 ,
       11.98 , 12.   , 12.01 , 12.02 , 12.025, 12.04 , 12.06 , 12.07 ,
       12.075, 12.09 , 12.13 , 12.13 , 12.15 , 12.18 , 12.18 , 12.19 ,
       12.27 , 12.28 , 12.28 , 12.29 , 12.3  , 12.33 , 12.37 , 12.38 ,
       12.39 , 12.45 , 12.47 , 12.48 , 12.5  , 12.54 , 12.57 , 12.595,
       12.63 , 12.65 , 12.68 , 12.69 , 12.75 , 12.78 , 12.8  , 12.82 ,
       12.87 , 12.88 , 12.89 , 12.91 , 12.96 , 12.98 , 12.99 , 13.01 ,
       13.06 , 13.1  , 13.1  , 13.25 , 13.29 , 13.3  , 13.32 , 13.4  ,
       13.415, 13.47 , 13.58 , 13.59 , 13.64 , 13.66 , 13.67 , 13.73 ,
       14.03 , 14.115, 14.29 , 14.41 , 14.61 , 15.21 , 16.145, 16.245,
       16.26 , 16.285])

In [137]:
np.argsort(sum[:,-1][:5])

array([0, 4, 2, 1, 3])

###16. Compute the Pearson correlation coefficient between alcohol content and quality. (Use NumPy to see if higher alcohol correlates with higher quality. A positive correlation would indicate that as alcohol increases, quality tends to increase.)
###17. How many wines have quality >= 7 and alcohol > 10%? (In other words, count the wines that are high quality and also have relatively high alcohol. Use a boolean condition combining both criteria.)
###18.Which feature exhibits the greatest variability among all the wines? (Calculate the standard deviation of each feature column (consider the 11 physicochemical features) and identify which feature has the highest standard deviation.)
###19. Compare the mean volatile acidity of high-quality wines versus lower-quality wines. (Consider wines with quality ‚â• 7 as "high quality" and those with quality ‚â§ 6 as "lower quality". Compute the average volatile acidity in each group. Do high-quality wines have lower volatile acidity on average?)
###20. What is the highest quality score attained by any red wine in the dataset, and how many samples achieved that score? (Find the maximum value in the quality column, and count how many wines have that maximum quality.)