#TAAI Machine Learning Hands on Course
[Course Link](https://www.taai.live/learn/ML-Hands-on-Course)

##Instructor - Manoj Kumar

[Linkdin](https://www.linkedin.com/in/manoj-choudhary-4bb89a214/)

**The Python Interpreter**

Python is an interpreted language. The Python interpreter runs a program by executing one statement at a time.

**C++**:

Compiled Language: C++ code is compiled into machine-executable code before execution,resulting in high performance and direct hardware interaction.

Statically Typed:
Variable types must be explicitly declared and are checked at compile-time, leading to fewer runtime type errors but requiring more verbose code.

In [ ]:
print('hello world')

hello world

In [ ]:
print("Hello world",2,sep=',')

Hello world,2

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Arithmetic Operations

| Operator | Description         | Example   | Result |
| -------- | ------------------- | --------- | ------ |
| `+`      | Addition            | `7 + 8`   | `15`   |
| `-`      | Subtraction         | `20 - 6`  | `14`   |
| `*`      | Multiplication      | `9 * 3`   | `27`   |
| `/`      | Division (float)    | `45 / 6`  | `7.5`  |
| `//`     | Floor Division      | `45 // 6` | `7`    |
| `%`      | Modulus (Remainder) | `45 % 6`  | `3`    |
| `**`     | Exponentiation      | `3 ** 4`  | `81`   |

In [ ]:
# Addition
print(7 + 8)       # Output: 15

# Subtraction
print(20 - 6)      # Output: 14

# Multiplication
print(9 * 3)       # Output: 27

# Division (returns float)
print(45 / 6)      # Output: 7.5

# Floor Division (removes decimal part)
print(45 // 6)     # Output: 7

# Modulus (gives remainder)
print(45 % 6)      # Output: 3

# Exponentiation (power)
print(3 ** 4)      # Output: 81

15
14
27
7.5
7
3
81

Operator Precedence in Python

Python follows standard mathematical precedence rules. Operations inside parentheses () are performed first, followed by ** (exponentiation), then *, /, //, %, and finally + and -.

In [ ]:
result = ((4 + 2) * (10 - 5)) / (2 ** 2)


print(result)      # Output: 7.5

7.5

result= 13**2//6-7*3
result=169//6-7*3
result =28-21=7

In [ ]:
result = (3 + 5 * 2) ** 2 // (4 + 6 % 4) - 7 * (2 ** 3 % 5)
print(result)

7



> Add blockquote

üçï New Example:Tackling Multi-Step Variable Problems Using Python

üßæ Problem Statement

A pizza shop sells each pizza for 15rs The cost to make one pizza is 9rs. If they sell 350 pizzas, how much total profit do they earn?

In [ ]:
net_profit=6*350

In [ ]:
# Store known data
selling_price = 15       # Price at which one pizza is sold
cost_price = 9           # Cost to make one pizza
pizzas_sold = 350        # Total pizzas sold


# Calculate profit per pizza
profit_per_pizza =  selling_price - cost_price


# Calculate total profit
total_profit = profit_per_pizza * pizzas_sold


print("The pizza shop makes a total profit of rs", total_profit)

The pizza shop makes a total profit of rs 2100

üí¨ Why Use Variables?

Variables help us:

 Avoid repeating numbers.

 Make the code readable and self-explanatory.

 Easily update values if the situation changes.

üß† Extra Tip: What if a Variable Isn't Defined?

Trying to access a variable before defining it will raise an error:

In [ ]:
print(profit)  # ‚ùå Error: net_profit is not defined

NameError: name 'profit' is not defined

**Challenge #1**

Modify the code for a coffee shop that sells each cup for 45 rs and spends 27.5 rs per cup. They sold 620 cups. What‚Äôs the total profit?

Comments, blank lines, and spaces:

Comments explain code but are ignored during execution.
Blank lines and spaces improve readability and structure but have no effect on code execution.

In [ ]:
# This function adds two numbers
def add(a, b):     # Inline comment
    result = a + b  # Add the numbers

    return result   # Return the result


# Call the function
sum = add(5, 3)

print(sum)  # Output: 8

Types of Comments in Python

1. Single-line Comments

    Use the # symbol.Python ignores everything after # on that line.

2. Multi-line Comments (using multiple #)

    you can use several # lines

3. Multi-line Strings as Comments

    Using triple quotes (' ' ' or " " ") can create a string that‚Äôs not assigned to any variable.

    Technically, it's a string, not a comment but it‚Äôs often used for multi-line notes or docstrings.

In [ ]:
# This is a single-line comment
x = 5  # This is an inline comment

In [ ]:
# This is a comment
# that spans multiple
# lines

In [ ]:
'''
This is not a real comment,
but Python ignores it if it's not assigned to a variable.

'''

#Formatting Text with Markdown in Google Colab

Markdown lets you add **formatted text**, bullet lists, headers, links, images, and more inside your notebook. This helps make your work more understandable and presentable.

---

## Headers

Use the `#` symbol at the beginning of a line (with a space) to create different levels of headers:

# Header 1 (H1)
## Header 2 (H2)
### Header 3 (H3)
#### Header 4 (H4)

---


### Unordered (Bullet) List:
* Python
* Java
* C++

### Ordered (Numbered) List:
1. Step 1: Import data
2. Step 2: Preprocess
3. Step 3: Train model

---

## ‚úçÔ∏è Emphasis

- **Bold text**: `**This is bold**` ‚Üí **This is bold**
- *Italic text*: `*This is italic*` ‚Üí *This is italic*

---

## üîó Links

click here :
[Google](https://www.google.com)

---

## üñºÔ∏è Images

Use this syntax:
![Text](Image_URL)

Example:
![Pandas Logo](https://pandas.pydata.org/static/img/pandas_white.svg)

# Working with Conditions and Logic in Python

Python allows us to compare values using **comparison operators** and build more advanced expressions using **logical operators**. These help control the flow of your program based on conditions.

---

## ‚öñÔ∏è Comparison Operators

| Operator | Meaning                        |
|----------|--------------------------------|
| `==`     | Equal to                       |
| `!=`     | Not equal to                   |
| `>`      | Greater than                   |
| `<`      | Less than                      |
| `>=`     | Greater than or equal to       |
| `<=`     | Less than or equal to          |

---

## Let's Define Some Variables

```python
speed_limit = 80
current_speed = 72
default_speed = 60

‚úÖ Equality & Inequality Checks

In [ ]:
speed_limit = 80
current_speed = 72
default_speed = 60


# True
print(current_speed == 72)

# False
print(current_speed == speed_limit)

# True
print(current_speed != default_speed)

# False
print(default_speed != 60)

True
False
True
False

üîº Greater / üîΩ Less Than Comparisons

In [ ]:
# True
speed_limit > default_speed

# False
default_speed > speed_limit

# True
current_speed < 100

# False
speed_limit < default_speed

False

In [ ]:
# True
current_speed >= 60

# False
default_speed >= 90

# True
40 + 20 <= 100

# False
speed_limit + default_speed <= 100

False

#Storing the Result of a Condition

In [ ]:
bag_weight = 7.5
is_overweight = bag_weight > 23
print("Is the bag too heavy?", is_overweight)
# Output: False

Is the bag too heavy? False

###Logical Operators: and, or, not

and Operator ‚Üí True if both conditions are True

In [ ]:
current_speed > 60 and current_speed <= 80   # True
default_speed > 80 and current_speed < 60    # False
current_speed < 90 and speed_limit > 100     # False

True and False   # False
True and True    # True

True

or Operator ‚Üí True if at least one condition is True

In [ ]:
speed_limit == 80 or default_speed > 90     # True
default_speed != 60 or speed_limit < 40     # False
current_speed > 100 or True                 # True

False or False   # False

False

‚ùå not Operator ‚Üí Reverses the Boolean value

In [ ]:
not speed_limit == 80   # False
not default_speed < 40  # True
not False               # True
not True                # False

False

Combine Conditions Using Parentheses

In [ ]:
(3 > 1 and 5 < 10) or not (default_speed > 100 and True)  # True

not (False and 1 < 2) or (True and False)                 # True

# Without grouping, Python uses left-to-right evaluation
not True and 1 < 2 or False and True                     # False

# Python Basics: Variables and Data Types

In Python, variables are like containers that store data. The type of data stored can vary, and Python automatically assigns a **data type** to the value.

---

## üß¨ Python Data Types Overview

Python data types can be grouped as:

### üîπ Primitive Types
- `int`: Whole numbers (e.g. 5, -2)
- `float`: Decimal numbers (e.g. 3.14)
- `bool`: Boolean values (`True`, `False`)
- `str`: Text (e.g. "hello")
- `NoneType`: Special type representing 'nothing'

### üîπ Container Types
- `list`: Ordered, changeable collection (e.g. `[1, 2, 3]`)
- `tuple`: Ordered, **unchangeable** collection (e.g. `(1, 2, 3)`)
- `dict`: Key-value pairs (e.g. `{"name": "Tom"}`)

---

## Declaring and Using Variables

```python
player_score = 120
is_online = True
nickname = "AceHunter"

In [ ]:
player_score = 120
is_online = True
nickname = "AceHunter"

print(nickname)  # Output: AceHunter

AceHunter

Multiple Assignments

Assign multiple values in one line:

In [ ]:
x, y, z = 5, 10, 15

In [ ]:
print(x,y,z)

5 10 15

You can also assign the same value to several variables:

In [ ]:
a = b = c = "Python"

üîÅ Updating Variable Values

You can change a variable‚Äôs value anytime:
old value is lost

In [ ]:
nickname = "SniperPro"
print(nickname)  # Output: SniperPro

SniperPro

‚ûï Using Current Value to Update

In [ ]:
points = 50
points = points + 10  # Now points is 60

Or use shorthand:

In [ ]:
points += 5  # Same as points = points + 5

### Rules for Naming Variables in Python

When creating variables in Python, you can use short names like `x`, `y`, or `z`, or more descriptive ones such as `total_sales`, `user_age`, or `employee_3_record`.

However, Python has specific rules for how variables must be named:

- Variable names must begin with a **letter (A‚ÄìZ or a‚Äìz)** or an **underscore (`_`)**.  
  ‚û§ They **cannot** begin with a number.

- After the first character, variable names can include:
  - Letters (uppercase or lowercase)
  - Numbers (0‚Äì9)
  - Underscores (`_`)



‚úÖ Valid:

In [ ]:
user_age = 30
_city = "London"
has_passed = True

üö´ Invalid (causes SyntaxError):

In [ ]:
2nd_place = "Silver"       # Cannot start with a digit
user-name = "Alex"         # Hyphens not allowed
total$cost = 100           # Special characters disallowed

SyntaxError: invalid decimal literal (ipython-input-1332184321.py, line 1)

In [ ]:
abcd=5
print(Abcd)

NameError: name 'Abcd' is not defined

üîë Notes:

Variable names are case-sensitive (Score ‚â† score)

Use underscores _ instead of spaces

Start with a letter or underscore, not a number

# Built-in Data Types in Python

Every value in Python has a **data type**. You can check the type of any variable using the `type()` function.

---

## Examples of Common Data Types

```python
city_name = "Paris"
type(city_name)     # str (string)

day_is_sunday = False
type(day_is_sunday) # bool (boolean)

age = 27
type(age)           # int (integer)

temperature = 22.5
type(temperature)   # float (decimal)

primes = [2, 3, 5, 7]
type(primes)        # list

location = {"lat": 48.8, "lon": 2.3}
type(location)      # dict


# Python Data Types

## üî∏ 1. Primitive Types
- **Integer**  
- **Float**  
- **Boolean**  
- **String**  
- **NoneType**

## üî∏ 2. Container Types
- **List**  
- **Tuple**  
- **Dictionary**

In [ ]:
books_sold = 150
type(books_sold)  # int

huge_value = -982347982347983478923
type(huge_value)  # int (Python handles big integers by default)

int

Float (float)
Floats are numbers with decimal points.

In [ ]:
price = 19.99
type(price)  # float
p1=20.0
print(type(p1))

g = 9.8
weight = 70
force = g * weight
type(force)  # float

<class 'float'>

float

Floats also support scientific notation:

In [ ]:
tiny_value = 1e-5     # 0.00001
massive_value = 6.02e23  # Avogadro's number

type(tiny_value)      # float
type(massive_value)   # float

üîÅ Type Conversion (Casting)
You can convert between types:

In [ ]:
# int to float
float(20)     # 20.0

# float to int (truncates decimal)
int(5.9)      # 5

# string to int
int("42")     # 42

# float to string
str(3.14)     # '3.14'

'3.14'

‚ûó Division & Data Type Behavior

In [ ]:
# When one operand is float ‚Üí result is float
type(30 * 2.0)  # float

# Integer division
type(30 * 2)    # int

# Regular division always returns float
type(9 / 3)     # float

# Floor division returns int (discards remainder)
type(9 // 3)    # int

int

# üîò Boolean & NoneType in Python

---

## ‚úÖ Boolean Basics (`bool`)

Booleans are a data type that can hold one of two values:
- `True`
- `False`

They are used for logical decisions, conditions, and flow control.

```python
is_weekend = True
type(is_weekend)  # bool

is_holiday = False

Booleans from Comparisons
Booleans often come from comparison expressions:

In [ ]:
temperature = 24
is_hot = temperature > 30
print(is_hot)  # False
type(is_hot)   # bool

False

bool

‚ûï Booleans in Arithmetic

In Python:

True behaves like 1

False behaves like 0

In [ ]:
5 + False   # 5
3.0 + True  # 4.0

4.0

Convert Anything to Boolean using bool()
Python treats some values as False, others as True.

üîª Values Evaluating to False:

In [ ]:
bool(False)
bool(0)
bool(0.0)
bool(None)
bool("")
bool([])
bool(())
bool({})
bool(set())
bool(range(0))

False

‚úÖ Values Evaluating to True:

In [ ]:
bool(True)
bool(42)
bool(3.14)
bool("Python")
bool([1, 2])
bool((3, 4))
bool({1: "a"})
bool(range(5))

True

üõë NoneType (None)
The special value None is used to represent "no value" or "nothing assigned yet".

In [ ]:
response = None
type(response)  # NoneType

NoneType

# Working with Strings in Python

Strings are used to represent text in Python and are enclosed in either single (`'`) or double (`"`) quotes.

---

##  Declaring a String

```python
day = "Monday"
print(day)            # Output: Monday
type(day)             # str

You can also use single quotes:

In [ ]:
quote = 'Be the change you wish to see in the world.'
print(quote)
type(quote)

Be the change you wish to see in the world.

str

msg=it's a beautiful day

In [ ]:
msg= "it's a beautiful day"

In [ ]:
message = "It's a beautiful day!"
joke = 'He said, "I am Batman."'
print(message,joke)

It's a beautiful day! He said, "I am Batman."

To use the same quote inside a string, escape it using a backslash \:

In [ ]:
escaped = "She replied, \"Sure, why not?\""
print(escaped)

She replied, "Sure, why not?"

Multiline Strings
Use triple quotes (''' or """) for strings that span multiple lines.

In [ ]:
story = '''Once upon a time,
there was a brave knight,
who saved the realm.'''
print(story)
x='''a ,b
'''

Once upon a time,
there was a brave knight,
who saved the realm.

##String Length
Use len() to count the number of characters:

In [ ]:
len(story)
len(x)

5

##String Indexing
Access individual characters by index:

In [ ]:
language = "Python"
print(language[0])     # 'P'
print(language[2])   # 't'
print(language[-3])   # 'n' (last character)

P
t
h

##String Slicing
Extract a part of a string:

In [ ]:
language[1:4]   # 'yth'
language[:3]    # 'Pyt'
language[3:]    # 'hon'

'hon'

##Search in String

In [ ]:
print("thon" in language)     # True
print("Java" in language)     # False

True
False

##String Concatenation
Join strings using +:

In [ ]:
first = "Good"
second = "Morning"
print(first+second)
greeting = first + " " + second
print(greeting)

GoodMorning
Good Morning

#String Methods
Some useful built-in methods:

In [ ]:
text = "  Hello Python  "

text1=text.lower()     # '  hello python  '
print(text.upper())        # '  HELLO PYTHON  '
print(text.strip())      # 'Hello Python'
print(text.replace("Python", "World"))  # '  Hello World  '

  HELLO PYTHON
Hello Python
  Hello World

In [ ]:
print(text)
print(text1)

  Hello Python
  hello python

##More String Tools

In [ ]:
"python".capitalize()       # 'Python'
"sun,moon,stars".split(",") # ['sun', 'moon', 'stars']

['sun', 'moon', 'stars']

##Convert to List of Characters

In [ ]:
list("Hi!")   # ['H', 'i', '!']

['H', 'i', '!']

##Using .format()

In [ ]:
item = "pen"
cost = 2.5
msg = "The price of a {} is ${}.".format(item, cost)
print(msg)

The price of a pen is $2.5.

##Convert to String

In [ ]:
str(42)           # '42'
str(3.14)         # '3.14'
str([1, 2, 3])    # '[1, 2, 3]'

'[1, 2, 3]'

#String Practice ‚Äì
1. Combine the strings `'Learn'`, `'Python'`, `'With'`, and `'Projects'` into a single sentence with spaces in between.

2. Assign the value `'ML Course'` to a variable and demonstrate how to display the text in uppercase, lowercase, and in title case using string methods.

3. Determine the character located at position 7 in the string `'Machine Learning'`, and also print the last character by using its index.

4. Replace the term `'Data'` with `'AI'` in the string `'Data Analysis Tools'` and print the updated sentence.

5. Extract the first word from `'Deep Learning Model'` using slicing, and check if the word `'Learning'` exists within the same string.

6. Generate an acronym using the phrase `'Natural Language Processing'`, such that it returns something like `'NLP'`.

7. Given the sentence `'This is important because because because it explains the rule'`, find where the word `'because'` appears first and last using the appropriate search methods.

8. Test whether the following names are valid Python identifiers: `'firstName'` and `'123variable'`. Use the correct method to verify and display the result.

9. Calculate the area of a rectangle with a width of 12 and height of 20, and display the result using formatted text like:
   `The area of a rectangle with width 12 and height 20 is 240 square units.`

10. Display results of multiple arithmetic operations between 15 and 4 using string formatting. Include:
    addition, subtraction, multiplication, division, modulus, floor division, and exponentiation. Present each result on a separate line clearly.

#  Lists in Python

A **list** is an ordered, mutable collection in Python. It can store items of any data type, even a mix of types. Lists are defined using square brackets `[]`.

---

## üîπ Creating Lists

In [ ]:
fruits = ["apple", "banana", "cherry"]

In [ ]:
fruits[0]

'apple'

In [ ]:
s="abcd"
s[0]='A'

TypeError: 'str' object does not support item assignment

In [ ]:
fruits[0]='orange'

In [ ]:
print(fruits)

['orange', 'banana', 'cherry']

You can also store mixed types:

In [ ]:
mixed = [42, "hello", None, 3.14, fruits, 5 > 2]
print(mixed)

[42, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

##Length of a List
Use the len() function:

In [ ]:
len(fruits)      # 3
len(mixed)       # 6

6

##Accessing List Elements
Lists are zero-indexed. Use list[index]:

In [ ]:
fruits[0]   # "apple"
fruits[2]   # "cherry"

'cherry'

###Negative indices count from the end:

In [ ]:
fruits[-1]  # "cherry"
fruits[-2]  # "banana"

'banana'

###Accessing an invalid index raises IndexError:

In [ ]:
fruits[5]   # ‚ùå IndexError

IndexError: list index out of range

##Slicing Lists

In [ ]:
lst = [23, "hi", None, 3.14, fruits, True]
lst[2:5]  # [None, 3.14, ['apple', 'banana', 'cherry']]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [ ]:
lst[:3]   # First 3 items
lst[3:]   # From 4th to end

In [ ]:
lst[-3:-1]  # Third last to second last

##Modifying Lists
Reassign a value

In [ ]:
fruits[1] = "blueberry"

##Add items

In [ ]:
print(fruits)

['apple', 'blueberry', 'cherry']

In [ ]:
fruits.append("dates")        # Adds to end
fruits.insert(1, "banana")    # Inserts at index 1

In [ ]:
print(fruits)

['apple', 'banana', 'blueberry', 'cherry', 'dates']

##Remove items

In [ ]:
fruits.remove("blueberry")    # Removes by value
fruits.pop()                  # Removes last item
fruits.pop(1)                 # Removes item at index 1

'banana'

In [ ]:
print(fruits)

['apple', 'cherry']

##Membership Testing

In [ ]:
print("banana" in fruits)
print("kiwi" in fruits)

False
False

##‚ûï Concatenating Lists

In [ ]:
more_fruits = fruits + ["grape", "kiwi"]

In [ ]:
print(more_fruits)

['apple', 'cherry', 'grape', 'kiwi']

##Copying Lists

In [ ]:
copy_fruits = more_fruits.copy()

In [ ]:
print("copy_fruits",copy_fruits)
print("more_fruits",more_fruits)

copy_fruits ['apple', 'cherry', 'grape', 'kiwi']
more_fruits ['apple', 'cherry', 'grape', 'kiwi']

In [ ]:
copy_fruits[0]='b'

In [ ]:
print(more_fruits,copy_fruits)

['apple', 'cherry', 'grape', 'kiwi'] ['b', 'cherry', 'grape', 'kiwi']

In [ ]:
more_fruits[0]='a'
print(copy_fruits)

['b', 'cherry', 'grape', 'kiwi']

Changes to copy_fruits won‚Äôt affect more_fruits.

In [ ]:
more_fruits = [["apple", "banana"], ["orange"]]
copy_fruits = more_fruits.copy()
#deep copy
# import copy
# copy_fruits = copy.deepcopy(more_fruits)
copy_fruits[0][0] = "grape"

print(more_fruits)   # [['grape', 'banana'], ['orange']]
print(copy_fruits)   # [['grape', 'banana'], ['orange']]

[['apple', 'banana'], ['orange']]
[['grape', 'banana'], ['orange']]

| Method      | Description                        |
| ----------- | ---------------------------------- |
| `append()`  | Add to end of list                 |
| `insert()`  | Insert at specific index           |
| `remove()`  | Remove first occurrence of a value |
| `pop()`     | Remove and return item             |
| `copy()`    | Create a shallow copy              |
| `sort()`    | Sort the list in-place             |
| `reverse()` | Reverse list in-place              |
| `clear()`   | Remove all items from list         |

In [ ]:
lst=[1,13,-5,4]
lst.reverse()
print(lst)

[4, -5, 13, 1]

#List Practice

1. Create an empty list named `books` and print it to confirm it is empty.

2. Define a list named `fruits` that contains more than 5 fruit names.

3. Display the number of items in the `fruits` list using the appropriate method.

4. Retrieve the first, middle, and last elements from a list called `colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']`.

5. Create a list called `profile` and store your name, age, height in cm, marital status, and city.

6. Initialize a list named `tech_brands` with values like 'Tesla', 'Samsung', 'Intel', 'Adobe', 'IBM', 'HP', and 'Cisco'.

7. Print the entire `tech_brands` list to the screen.

8. Display how many companies are present in the `tech_brands` list.

9. Show the first, middle, and last company names from the list `tech_brands`.

10. Replace the second element in the `tech_brands` list with `'Qualcomm'` and print the updated list.

11. Add `'Nvidia'` to the end of the `tech_brands` list and print the new list.

12. Insert `'Zoom'` into the middle of the `tech_brands` list without replacing any element.

13. Convert all company names in `tech_brands` to uppercase, except `'IBM'`.

14. Sort the `tech_brands` list alphabetically and then reverse the order of the sorted list.

15. Slice and print the first three and last three companies from the `tech_brands` list, and then remove the first, middle, and last companies one by one.

#  Python Tuples ‚Äì The Immutable Collection

A **tuple** is a built-in Python data structure that is:
- ‚úÖ Ordered
- üö´ Immutable (cannot be changed after creation)
- ‚úÖ Can contain duplicates
- ‚úÖ Can hold different data types (like integers, strings, etc.)

---

##  Creating Tuples

In [ ]:
veggies = ('carrot', 'potato', 'spinach')

##Count Elements

In [ ]:
len(veggies)  # Output: 3

3

##Accessing Elements

In [ ]:
# Positive Index
veggies[0]    # Output: 'carrot'

# Negative Index
veggies[-2]   # Output: 'potato'

'potato'

##Membership Test

In [ ]:
'potato' in veggies   # Output: True

True

##Immutability in Action

In [ ]:
# Try changing an item
veggies[1] = 'beetroot'
# Error: TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

##Can't Modify Tuples

In [ ]:
# Try to add an item
veggies.append('peas')
# AttributeError: 'tuple' object has no attribute 'append'

# Try to remove an item
veggies.remove('carrot')
# AttributeError: 'tuple' object has no attribute 'remove'

##Parentheses Are Optional

In [ ]:
city_codes = 'DEL', 'MUM', 'BLR'
print(city_codes)   # Output: ('DEL', 'MUM', 'BLR')

('DEL', 'MUM', 'BLR')

##Single Element Tuple

In [ ]:
temp = (5,)
print(temp)         # Output: (5,)
print(type(temp))

not_a_tuple = (5)
print(not_a_tuple)  # Output: 5 (an integer, not a tuple!)
print(type(not_a_tuple))

(5,)
<class 'tuple'>
5
<class 'int'>

##Tuple Unpacking

In [ ]:
coordinates = (10, 20)
x_pos, y_pos = coordinates
print(x_pos)   # Output: 10
print(y_pos)   # Output: 20

10
20

##üîÑ Convert Between List & Tuple

In [ ]:
# List ‚û° Tuple
names_list = ['Tom', 'Jerry']
names_tuple = tuple(names_list)

# Tuple ‚û° List
tools = ('hammer', 'wrench')
tools_list = list(tools)

##Tuple Methods

Only two built-in methods: .count() and .index()

In [ ]:
sample_data = ('sun', 'moon', 'sun', 'stars', 'moon', 'sun')

# Count how many times 'sun' appears
sample_data.count('sun')    # Output: 3

# Find first index of 'moon'
sample_data.index('moon')   # Output: 1

1

##Use help() for Documentation

In [ ]:
help(sample_data.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

# Python Dictionary ‚Äì

A **dictionary** in Python is an **unordered collection** of key-value pairs.  
Each **key** must be unique and immutable (like string, number, tuple), and is used to access its **associated value**.

---

##Creating a Dictionary

In [ ]:
employee1 = {
    'name': 'Alice Smith',
    'role': 'Developer',
    'experience': 5,
    'remote': True
}

In [ ]:
employee1['role']

'Developer'

In [ ]:
print(employee1)

{'name': 'Alice Smith', 'role': 'Developer', 'experience': 5, 'remote': True}

###Another Way to Create a Dictionary

In [ ]:
employee2 = dict(name='Bob Lee', role='Designer', experience=3, remote=False)

In [ ]:
type(employee2)

dict

In [ ]:
print(employee2)

{'name': 'Bob Lee', 'role': 'Designer', 'experience': 3, 'remote': False}

###Accessing Values Using Keys

In [ ]:
employee1['remote']      # Output: 'Alice Smith'
# employee2['remote']    # Output: False

True

###Accessing a Missing Key (KeyError)

In [ ]:
employee1["salar"]

KeyError: 'salar'

In [ ]:
# Using .get() to access a potentially missing key
salary = employee1.get('salary')
print(f"Salary: {salary}") # Output: Salary: None

# You can also provide a default value if the key is not found
salary_with_default = employee1.get('salary', 0)
print(f"Salary with default: {salary_with_default}") # Output: Salary with default: 0

Salary: None
Salary with default: 0

###Check Key Existence with in

In [ ]:
print('name' in employee2)      # Output: True
print('salary' in employee2 )    # Output: False

True
False

###Updating and Adding Data

In [ ]:
employee2['remote'] = True         # Updates value
employee1['salary'] = 75000        # Adds new key-value pair

###Removing Data

In [ ]:
employee1.pop('salary')    # Removes 'salary' key and returns its value

75000

###Dictionary Methods
keys(), values(), and items()

In [ ]:
employee1.keys()     # dict_keys(['name', 'role', 'experience', 'remote'])
employee1.values()   # dict_values(['Alice Smith', 'Developer', 5, True])
employee1.items()    # dict_items([('name', 'Alice Smith'), ('role', 'Developer'), ...])

dict_items([('name', 'Bob Lee'), ('role', 'Designer'), ('experience', 3), ('remote', False)])

In [ ]:
list(employee1.keys())[0]

'name'

In [ ]:
# list(employee1.keys())[0]

###Cannot Index dict_items

In [ ]:
employee1.items()[1]     # ‚ùå Error: 'dict_items' object is not subscriptable

TypeError: 'dict_items' object is not subscriptable

#Convert to List First

In [ ]:
list(employee1.items())[1]   # Output: ('role', 'Developer')

###Merge Dictionaries

In [ ]:
employee1.update(employee2)   # Adds/updates all key-value pairs from employee2

In [ ]:
print(employee1,employee2)

{'name': 'Bob Lee', 'role': 'Designer', 'experience': 3, 'remote': False} {'name': 'Bob Lee', 'role': 'Designer', 'experience': 3, 'remote': False}

###‚ùì More Experiments to Try
Can a key be a tuple? A float? A list? Try and see.

What happens if the same key is used more than once during creation?

How to loop through all keys/values/pairs?

What if a value is another dictionary?

#Dictionary

1. Initialize an empty dictionary named `vehicle` and print it to verify.

2. Add the following details to the `vehicle` dictionary: `type`, `brand`, `model`, `year`, and `color`.

3. Create a dictionary called `employee` and include keys such as `first_name`, `last_name`, `position`, `salary`, `department`, `skills`, `city`, and `country`.

4. Display the number of key-value pairs present in the `employee` dictionary.

5. Access the value associated with the `skills` key in the `employee` dictionary and confirm that its data type is a list.

6. Update the `skills` list by appending at least two new skills to it.

7. Convert the keys of the `employee` dictionary into a list and print it.

8. Convert the values of the `employee` dictionary into a list and print the result.

9. Convert the `employee` dictionary into a list of tuples using the `items()` method.

10. Remove a specific item from the `employee` dictionary using the `pop()` method or `del` statement.

11. Completely delete the `vehicle` dictionary from memory.

# Conditional Statements and Branching in Python

Python allows you to make decisions in code using **branching statements** like `if`, `elif`, and `else`.

---

## ‚úÖ The `if` Statement

In [ ]:
score = 8

if score >= 75:
  print("Excellent performance!")

good performance

üí° If the condition is True, the indented block runs.

Python uses indentation (spaces or tabs) to define blocks.

###if-else Statement

In [ ]:
num = 13

if num % 2 == 0:
    print("{} is even.".format(num))
else:
    print(f"{num} is odd.")

13 is odd.

###Example with Membership and else

In [ ]:
characters = ('Harry', 'Ron', 'Hermione')
name = 'Draco'

if name in characters:
    print(f"{name} is a main character.")
else:
    print(f"{name} is not a main character.")

Draco is not a main character.

###The elif Statement (else-if)
Use elif to check multiple conditions:

In [ ]:
day = "wednesday"

if day == "Monday":
    print("Start of work week.")
elif day == "Wednesday":
    print("Midweek vibes.")
elif day == "Friday":
    print("Almost weekend!")
else:
    print("Just another day.")

Just another day.

üìå Python evaluates conditions top to bottom. The first True block executes and others are skipped.

###Example: Number Divisibility

In [ ]:
n = 15

if n % 2 == 0:
    print(f"{n} is divisible by 2")
elif n % 3 == 0:
    print(f"{n} is divisible by 3")
elif n % 5 == 0:
    print(f"{n} is divisible by 5")
else:
    print(f"{n} is not divisible by 2, 3, or 5")

15 is divisible by 3

‚û°Ô∏è Only the first True condition prints output.

###if vs Multiple if (All are Checked)

In [ ]:
n = 15

if n % 2 == 0:
    print(f"{n} is divisible by 2")
if n % 3 == 0:
    print(f"{n} is divisible by 3")
if n % 5 == 0:
    print(f"{n} is divisible by 5")

15 is divisible by 3
15 is divisible by 5

‚úÖ All if blocks are evaluated separately.

#Using Logical Operators (and, or, not)

In [ ]:
val = 12

if val % 3 == 0 and val % 4 == 0:
    print(f"{val} is divisible by both 3 and 4")
else:
    print(f"{val} is not divisible by both")

12 is divisible by both 3 and 4

##üîó Summary of Keywords
| Keyword | Meaning                          |
| ------- | -------------------------------- |
| `if`    | Check a condition                |
| `elif`  | Additional conditions            |
| `else`  | Run when no conditions match     |
| `and`   | Both conditions must be `True`   |
| `or`    | At least one condition is `True` |
| `not`   | Negates a condition              |



###In Python, any value used in a condition is **automatically converted to boolean** using `bool()`.

### ‚úÖ Truthy and Falsy values

- Falsy: `0`, `None`, `''`, `[]`, `{}`, `False`
- Truthy: Non-zero numbers, non-empty strings/lists/dicts, etc.

```python
if '':
    print("True branch")
else:
    print("False branch")   # Output

if 'World':
    print("True branch")    # Output
else:
    print("False branch")

if {}:
    print("True")
else:
    print("False")          # Output

if {'key': 10}:
    print("True")           # Output
else:
    print("False")

if None:
    print("Yes")
else:
    print("No")             # Output

###Nested if Statements
One if inside another = nested condition. Use with care!

In [ ]:
value = 15

if value % 2 == 0:
  print(f"{value} is even")
  if value % 3 == 0:
      print(f"{value} is divisible by 3 also")
  else:
      print(f"{value} is not divisible by 3")

else:
    print(f"{value} is odd")
    if value % 5 == 0:
        print(f"{value} is also divisible by 5")

15 is odd
15 is also divisible by 5

Avoid more than 1‚Äì2 levels of nesting for better readability.

‚ö° Shorthand if Expression

In [ ]:
# Traditional way
num = 13
if num % 2 == 0:
    status = "even"
else:
    status = "odd"
print(f"{num} is {status}")

13 is odd

In [ ]:
# One-liner
status = "even" if num % 2 == 0 else "odd"


print(f"{num} is {status}")

13 is odd

###The pass Statement
Sometimes you want to leave an if or elif block empty (temporarily or logically).
Python does not allow empty blocks, so use pass as a placeholder.

In [ ]:
value = 9

if value % 2 == 0:
    pass   # No action for even numbers
elif value % 3 == 0:
    print(f"{value} is divisible by 3 but not 2")

9 is divisible by 3 but not 2

Without pass, the above would raise IndentationError.

#Practice

1. Prompt the user to input a full sentence. Check whether the sentence:

   * starts with a capital letter
   * ends with a punctuation mark (., !, or ?)
   * contains the word `"Python"`
     Based on the result, print a sentence quality rating: `"Well-formed"`, `"Needs punctuation"`, or `"Needs both improvements"`.

2. Ask the user to enter their birth month (e.g., "March") and age.

   * Based on the month, classify the **season** (Spring, Summer, Autumn, Winter).
   * If the user is younger than 18, print: `"Enjoy your studies this [season]!"`
   * If 18 or older, print: `"Hope you're making the most of your [season]!"`

3. Take two strings from the user: `first_word` and `second_word`.

   * If both have the same length, compare them alphabetically and print which one comes first.
   * If they have different lengths, print the longer one in uppercase and the shorter one in lowercase.
   * If both are equal in value and length, print `"Perfect match!"`.

4. Create a dictionary called `book = {'title': 'Invisible Cities', 'author': 'Italo Calvino', 'year': 1972, 'genres': ['fiction', 'philosophy']}`

   * Check if the key `'publisher'` exists. If not, add `'publisher': 'Harcourt'`.
   * If `'fiction'` is in the genres list and `'philosophy'` is not, replace `'fiction'` with `'literary fiction'`.
   * If the year is before 1980, add a new key `'status': 'classic'`.
   * Print the final dictionary.

In [ ]:
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world

In [ ]:
i=0
while i<5:
  print("hello world")
  i+=1

hello world
hello world
hello world
hello world
hello world

# Python Loops ‚Äì The Complete Guide

In programming, **loops** allow you to repeat tasks efficiently. Python supports:

1. `while` loops
2. `for` loops

---

## üåÄ `while` Loop

Repeats a block **as long as a condition is true**.

### üìå Syntax

```python
while condition:
    # repeated code block

In [ ]:
counter = 0

while counter < 4:
    print("Count is:", counter)
    counter += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3

In [ ]:
i = 0
while i < 3:
    print(i)
    i += 1
else:
    print("Loop ended at:", i)

0
1
2
Loop ended at: 3

Examples

## break and continue (in while)

break: Exit loop early

In [ ]:
n = 0
while n < 5:
    print(n)
    if n == 2:
        break
    n += 1
print("value of n is ",n)

0
1
2
value of n is  2

continue: Skip current iteration

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print("x =", x)

x = 1
x = 2
x = 4
x = 5

###Sum of First 10 Natural Numbers

In [ ]:
# 1+2+3+.....10
s=0
i=1
while i<=10:
  s+=i
  i+=1
print("sum is :",s)

sum is : 55

###Factorial Calculator

###Check Prime Number

In [ ]:
num=int(input("enter number"))
flag=0
if num<=1 :
  flag=0
i=2
while i<num//2:
  if num%i==0:
    flag=0
    break
  else:
    i+=1
    flag=1
if flag==1:
  print("prime number")
else:
  print("not prime")

enter number6
not prime

###for Loop ‚Äì Iterate over sequences

Works with lists, tuples, strings, sets, dictionaries, etc.

In [ ]:
cities = ["Delhi", "Tokyo", "Paris"]

for city in cities:
    print("City:", city)

City: Delhi
City: Tokyo
City: Paris

In [ ]:
word = "Loop"

for ch in word:
    print(ch)

L
o
o
p

In [ ]:
marks = (90, 80, 70)

for mark in marks:
    print("Mark:", mark)

Mark: 90
Mark: 80
Mark: 70

Loop Over Dictionary (Keys + Values)

In [ ]:
user = {
    "username": "johndoe",
    "age": 30,
    "skills": ["Python", "SQL"]
}

# Looping over keys
for x in user:
    print("Key:",x)

# Looping over items
for k, v in user.items():
    print(f"{k} -> {v}")

Key: username
Key: age
Key: skills
username -> johndoe
age -> 30
skills -> ['Python', 'SQL']

break, continue in for Loop

In [ ]:
for num in range(6):
    if num == 4:
        break
    print(num)

0
1
2
3

In [ ]:
for num in range(6):
    if num == 2:
        continue
    print(num)

0
1
3
4
5

#`range()` Function in Loops

The `range()` function is used to generate a sequence of numbers, usually for looping.

### Syntax

```python
range(stop)
range(start, stop)
range(start, stop, step)

start defaults to 0

step defaults to 1

stop is exclusive

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
print(list(range(5)))             # [0, 1, 2, 3, 4]
print(list(range(1, 6)))          # [1, 2, 3, 4, 5]
print(list(range(0, 10, 2)))      # [0, 2, 4, 6, 8]

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[0, 2, 4, 6, 8]

Nested for Loops

One loop inside another is called a nested loop.

In [ ]:
matrix = [[1, 2], [3, 4], [5, 6]]

for row in matrix:
  # print(row,end=' ')
  s=0
  for item in row:
    s+=item
    print(item ,end=' ')
  print(s)

1 2 3
3 4 7
5 6 11

In [ ]:
developer = {
    "name": "Anya",
    "skills": ["Python", "Flask", "SQL"]
}

for key in developer:
    if key == "skills":
        for tech in developer[key]:
            print(tech)

PythonFlaskSQL

#Loop Practice

1. Create a square pattern using nested `for` loops where each row contains exactly 8 `*` characters and there are 8 rows in total.

2. Generate a table using a loop where each line prints the cube of numbers from 1 to 10 in the format:
   `1 ^ 3 = 1`
   `2 ^ 3 = 8`
   ...

3. Loop through the list `tools = ['Git', 'VSCode', 'Jupyter', 'Colab', 'Docker']` and print each tool followed by the number of characters in its name.

4. Use a `for` loop to print all the numbers between 1 and 100 that are divisible by 5.

5. Using a loop, print all numbers from 1 to 50 that are not divisible by 3.

6. Write a `for` loop that prints this exact pattern:
   `A`
   `BB`
   `CCC`
   `DDDD`
   `EEEEE`

7. Iterate over the string `'DataScience'` using a `for` loop and print each character followed by its position (index).

# Python Sentiment Analysis Practice

We are given a list of fictional tweets, and we want to analyze their sentiment using simple keyword matching.

```python
posts = [
    "I absolutely love the new album. #awesome",
    "Ugh, the traffic today was so bad! #frustrated",
    "Python makes data science fun and exciting!",
    "Feeling a bit sad about the weather lately.",
    "Just finished a great workout session!",
    "The movie was boring and way too long.",
    "Happy to see my family after a long time. #grateful",
    "I hate when plans get canceled at the last minute.",
    "Had an amazing lunch with friends today!",
    "Not feeling well. Everything seems off today."
]
```

We will also use the following predefined keywords:

```python
positive_keywords = ['love', 'happy', 'awesome', 'great', 'fun', 'amazing', 'grateful', 'exciting']
negative_keywords = ['hate', 'sad', 'bad', 'boring', 'frustrated', 'angry', 'off']
```

Now, perform the following tasks:

---

1. Print the number of tweets in the dataset using the `len()` function.

2. Print the total number of positive keywords and negative keywords.

3. Check if the first tweet in `posts` contains **any word** from `positive_keywords`. If it does, set a variable `is_positive = True`.

4. Loop through all tweets and count how many are **positive** (contain at least one word from `positive_keywords`).

5. Calculate and display the **percentage of positive tweets** relative to the total.

6. Similarly, count how many tweets are **negative** (contain at least one word from `negative_keywords`).

7. Print what fraction of the tweets are classified as negative.

8. Count how many tweets contain **neither positive nor negative** keywords. These are neutral.

9. Count how many tweets contain **both positive and negative** keywords. Classify them as "mixed sentiment".

10. Finally, print a sentiment summary like this:

```
Total tweets: 10  
Positive: 4  
Negative: 3  
Neutral: 2  
Mixed: 1
```

#Functions
Functions in Python are blocks of reusable code used to perform specific tasks. Instead of repeating code, we define a function once and use it wherever needed.

Defining and Using a Function
To create a function in Python, we use the def keyword followed by the function name and parentheses. A function can have parameters or not.
###Syntax:

In [ ]:
def function_name():
    # code block
    # more code
    print("hello")

###Calling a function:

In [ ]:
function_name()

hello

###Function without Parameters
You can define a function that takes no arguments.

In [ ]:
def display_message():
    print("This is a custom message!")

def calculate_total():
    item1 = 50
    item2 = 80
    total = item1 + item2
    print("Total cost is:", total)

display_message()
calculate_total()

This is a custom message!
Total cost is: 130

###Function with Return Value
Instead of printing inside the function, we can return a value and print it outside.

In [ ]:
def get_greeting():
    return "Hello, welcome to the Python workshop!"

def sum_values():
    a = 12
    b = 18
    return a + b

x=get_greeting()
print(x)
y=sum_values()
print(y)

Hello, welcome to the Python workshop!
30

###Function with Single Parameter
You can pass one value into a function.

In [ ]:
def square(num):
    return num * num

def greet_user(username):
    return "Hi {}, enjoy coding!".format(username)

print(square(6))
print(greet_user("Ravi"))

36
Hi Ravi, enjoy coding!

###Function with Multiple Parameters
You can also pass two or more values into a function.

In [ ]:
def multiply(xu, y):
    return xu * y

def build_email(first, last):
    return first.lower() + '.' + last.lower() + "@example.com"

print("Result:", multiply(7, 5))
print("Generated Email:", build_email("Sai", "kumar"))
print(xu)

Result: 35
Generated Email: sai.kumar@example.com

NameError: name 'xu' is not defined

###Returning Different Data Types
You can return strings, numbers, booleans, lists, etc.

In [ ]:
def is_positive(n):
    return n > 0

def get_even_numbers(limit):
    evens = []
    for i in range(limit + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens

print(is_positive(-3))         # False
print(get_even_numbers(10))    # [0, 2, 4, 6, 8, 10]

False
[0, 2, 4, 6, 8, 10]

###Keyword Arguments
Python allows passing arguments using key-value format, which makes the order of arguments flexible.

In [ ]:
def contact_card(name, phone):
    return f"Name: {name}, Phone: {phone}"

print(contact_card(phone='1234567890', name='Sana'))

Name: Sana, Phone: 1234567890

###Functions with Default Parameters
We can assign default values to parameters so that if no value is passed, the default is used.

In [ ]:
def greet(name="Guest"):
    return f"Welcome, {name}!"

print(greet("sai"))         # uses default
print(greet("Neha"))   # uses provided value

Welcome, sai!
Welcome, Neha!

In [ ]:
def area_of_rectangle(length=5, width=3):
    return length * width

print(area_of_rectangle())         # 15
print(area_of_rectangle(10, 4))    # 40

15
40

Optional Parameters and Default Values in Functions
In Python, we can define functions that accept both required and optional arguments. Optional parameters are assigned default values and must always appear after required parameters in the function definition.

Let‚Äôs understand this with a custom function to compute monthly rent after discount.

In [ ]:
def monthly_rent(base_rent, months, discount_rate, deposit=0):
    net_rent = base_rent - deposit
    monthly_payment = net_rent * (1 - discount_rate) / months
    return monthly_payment

In [ ]:
monthly_rent(180000, 12, 0.05, 30000)

11875.0

In [ ]:
monthly_rent(180000, 12, 0.1)

13500.0

###Local Variables and Scope in Functions
Let‚Äôs understand how variable scope works in Python by defining a function that calculates the average speed given distance and time.

In [ ]:
def average_speed(distance, time):
    speed = distance / time
    print("Average speed is", speed, "km/hr")

In the above function, distance, time, and speed are local variables. They only exist inside the function.

If you try to access them outside the function

In [ ]:
print(speed)       # ‚ùå NameError: name 'speed' is not defined
print(distance)    # ‚ùå NameError: name 'distance' is not defined
print(time)        # ‚ùå NameError: name 'time' is not defined

NameError: name 'speed' is not defined

You will get an error because these variables are not accessible outside the function they are scoped locally to the function.

Explanation
Local Scope: Variables defined inside a function can only be used within that function.

Global Scope: Variables defined outside all functions are accessible everywhere in the file.

In [ ]:
average_speed(300, 5)
average_speed(180, 3)

Average speed is 60.0 km/hr
Average speed is 60.0 km/hr

Each time you call the function, it calculates the result without storing anything globally.



# Function Practice

1. Write a function called `multiply_three_numbers` that takes three arguments and returns their product.

2. Define a function named `rectangle_area` that takes `length` and `width` and returns the area of the rectangle.

3. Create a function `calculate_bmi` that takes a person's `weight` (in kg) and `height` (in meters) and returns their BMI value rounded to 2 decimal places.

4. Write a function called `fahrenheit_to_kelvin` that converts a temperature from Fahrenheit to Kelvin using the formula: `K = ((F - 32) √ó 5/9) + 273.15`.

5. Define a function `is_weekend` that takes a day name (string) and returns `True` if the day is Saturday or Sunday, else `False`.

6. Write a function named `flatten_list` that takes a nested list like `[1, [2, 3], [4, [5]]]` and returns a flat list `[1, 2, 3, 4, 5]`. You can assume max depth = 2.

7. Create a function `remove_duplicates` that takes a list and returns a new list with duplicates removed (preserve order).

8. Define a function `reverse_case` that takes a string and returns a new string with all uppercase letters converted to lowercase and vice versa.

9. Write a function named `extract_digits` that takes a string and returns a list of all digits (characters `'0'` to `'9'`) found in the string.

10. Define a function `average_of_positives` that takes a list of numbers and returns the average of all positive values. If there are no positives, return `None`.


## Modules and Library Functions in Python

Python comes with a rich set of **built-in modules** that help perform tasks without writing code from scratch. These modules organize reusable functions and classes.


###Modules in Python
Modules are files that contain Python code such as variables, functions, and classes. They help organize code for large projects by grouping related functionality into separate files and folders. One of the main advantages of using modules is the concept of namespaces, which means a function, variable, or class inside a module must be explicitly imported before it can be used. This provides encapsulation, helping avoid naming conflicts between your own code and external code or even between multiple modules. By importing only what is needed, modules keep the code cleaner, more modular, and easier to manage in larger applications

One such example is the **`math`** module, which includes mathematical functions like:

* `math.ceil(x)`: Rounds a number **up** to the nearest integer
* `math.floor(x)`: Rounds **down**
* `math.sqrt(x)`: Returns the square root
* `math.pow(x, y)`: Calculates $x^y$

---

##Rounding Up  with `math.ceil()`

Suppose we‚Äôre calculating monthly EMI (Equated Monthly Installment) and we want to round it up to the next whole number.

First, let's import the module and check the function:

```python
import math
help(math.ceil)
```

Try:

```python
math.ceil(1.2)  # Output: 2
```

In [ ]:
import math

In [ ]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1 + rate) ** duration) / (((1 + rate) ** duration) - 1)
    emi = math.ceil(emi)
    return emi

In [ ]:
emi1 = loan_emi(
    amount=1260000,
    duration=8*12,
    rate=0.1/12,
    down_payment=3e5
)
emi1  # Output: 14568

14568

###Exceptions and try-except in Python
In many real-world scenarios, our functions may receive invalid inputs. For example, a user may accidentally pass a string instead of a number. Instead of crashing the program, Python allows us to handle such situations using try-except.


###  Scenario: Converting Celsius to Fahrenheit

The formula is:

$$
^\circ\text{F} = \left(^\circ\text{C} \times \frac{9}{5}\right) + 32
$$

In [ ]:
user_input=input("enter number")
try:
  print(10/user_input)
except ValueError:
  print("Error Name",e)

print("very imp. code lines ")



print("program ends here")

enter number2
Error Name unsupported operand type(s) for /: 'int' and 'str'
very imp. code lines
program ends here

In [ ]:
def celsius_to_fahrenheit(celsius):
    try:
        result = (celsius * 9/5) + 32
        return result
    except:
        print("Invalid input! Please enter a numeric value.")
        return None

In [ ]:
temp = celsius_to_fahrenheit(25)
print("Temperature in Fahrenheit:", temp)

Temperature in Fahrenheit: 77.0

In [ ]:
temp = celsius_to_fahrenheit("cold")
print("Temperature in Fahrenheit:", temp)

Invalid input! Please enter a numeric value.
Temperature in Fahrenheit: None

In [ ]:
try:
  print("hello")
except Exception as e :
  print(e)

hello